<div>
  <!-- #region NO JAM -->
  <div *ngIf="!jam" class="warning p-5 text-center m-2">
    <p>You haven't been assigned to a Site yet.</p>
    <p>Select a site from the list below to proceed.</p>

    <div class="row">
      <div class="col-3 border">
        <h2>Regions</h2>
        <div *ngFor="let region of regions" class="p-2" (click)="selectRegion(region)">
          <div class="card p-2 shadow pointer">
            <h3>{{ region.name }}</h3>
          </div>
        </div>
      </div>

      <div *ngIf="selectedRegion" class="col-9">
        <h2>Sites of {{ selectedRegion!.name }}</h2>
        <div class="row">
          <div class="col-3" *ngFor="let site of filteredSites">
            <div class="card p-2 shadow minh-2">
              <h3 class="fs-4">{{ site.name }}</h3>
              <p>
                {{ site.country.name }} - {{ site.city }}<br>
                Modality: {{ site.modality }}<br>
                <span *ngIf="site.email">{{ site.email }}<br></span>
                <span *ngIf="site.phoneNumber">{{ site.phoneNumber }}<br></span>
                <span *ngIf="site.open">Status: Open for registration</span>
              </p>
              <span *ngIf="site.open" style="flex-grow: 1;"></span>
              <button *ngIf="site.open" class="btn btn-black align-bottom" (click)="joinSite(site)">Join site</button>

              <p *ngIf="!site.open">Status: Closed</p>
              <p *ngIf="!site.open">Contact the site's organizers for more information on how to join this site</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- #endregion -->

  <!-- #region NO JAMMER DATA -->

  <div *ngIf="jam && site && !jammerData" class="row w-100 p-5">
    <app-data-form [user]="user" [site]="site" [jam]="jam" [countries]="countries" (jammerData)="setJammerData($event)"></app-data-form>
  </div>

  <!-- #endregion -->

  <div *ngIf="jam && site && jammerData" class="row w-100 p-3">
    <div class="p-3 mb-2 darkbg d-block text-white text-center timer">{{ deltaTime }}</div>

    <!-- #region NAV BAR -->
    <div id="localHomeNavBar" class="col-2 container-fluid">
      <div class="navbutton navL1" data-toggle="collapse" data-target="#homeMenu">Home</div>
      <ul #homeMenu id="homeMenu" class="collapse">
        <li class="navbutton navL2" (click)="page = 'site'">Site Info</li>
        <li class="navbutton navL2" (click)="page = 'jam'">Jam Info</li>
        <li class="navbutton navL2" (click)="page = 'games'">Games from Site</li>
        <!--<li class="navbutton navL2" (click)="page = 'news'">Notifications</li>-->
      </ul>

      <div class="navbutton navL1" data-toggle="collapse" data-target="#venueMenu">My Jam</div>
      <ul #venueMenu id="venueMenu" class="collapse">
        <li class="navbutton navL2" (click)="page = 'team'">My Team</li>
        <li class="navbutton navL2" (click)="page = 'submission'">My Submission</li>
        <li class="navbutton navL2" (click)="page = 'feedback'">Feedback</li>
      </ul>

      <div class="navbutton navL1" (click)="page = 'rules'">Rules and Conditions</div>
    </div>
    <!-- #endregion -->

    <div id="jammerHomeContent" class="col-8">
      <!-- #region HOME -->
      <div *ngIf="page == 'site' && site" class="container container-lg p-3">
        <h1 class="text-center">{{ site.name.toUpperCase() }} [{{ site.language }}]</h1>
        <div class="row">

          <div class="col-md-4 p-2">
            <div class="pseudocard inverted m-1 py-2 minh-3">
              <div class="row align-items-start">
                <fa-icon [icon]="faLandmark" class="fa-2x col-4 text-right maxh-05"></fa-icon>
                <h2 class="col-8 maxh-05">Location</h2>
                <hr>
              </div>

              <div class="row align-items-end p-2">
                <span class="col-4 text-right heavy mb-1">Country</span> <span class="col-8">{{ site.country.code }} - {{ site.country.name }}</span>
                <span class="col-4 text-right heavy mb-1">City</span> <span class="col-8">{{ site.city }}</span>
                <span class="col-4 text-right heavy mb-1" *ngIf="site.address">Address</span> <span class="col-8" *ngIf="site.address">{{ site.address }}</span>
                <span class="col-4 text-right heavy mb-1" *ngIf="site.server">Server</span> <a [href]="formatURL(site.server)" target="_blank" class="col-8" *ngIf="site.server">{{ site.server }}</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 p-2">
            <div class="pseudocard inverted m-1 py-2 minh-3">
              <div class="row align-items-start">
                <fa-icon [icon]="faPeopleRoof" class="fa-2x col-4 text-right maxh-05"></fa-icon>
                <h2 class="col-8 maxh-05">Format</h2>
                <hr>
              </div>

              <div class="row align-items-end p-2">
                <span class="col-4 text-right heavy mb-1">Modality</span> <span class="col-8">{{ site.modality }}</span>
                <span class="col-4 text-right heavy mb-1">Status</span> <span class="col-8">{{ site.open ? 'Open' : 'Closed' }}</span>
                <span class="col-4 text-right heavy mb-1">Start</span> <span class="col-8">{{ site.startTime ? convertTo12h(site.startTime) : '' }}</span>
                <span class="col-4 text-right heavy mb-1">Language</span> <span class="col-8">{{ site.language }}</span>
              </div>
            </div>
          </div>

          <div class="col-md-4 p-2">
            <div class="pseudocard inverted m-1 py-2 minh-3">
              <div class="row align-items-start">
                <fa-icon [icon]="faEnvelope" class="fa-2x col-4 text-right maxh-05"></fa-icon>
                <h2 class="col-8 maxh-05">Contact Info</h2>
                <hr>
              </div>

              <div class="row align-items-end p-2">
                <span class="col-4 text-right heavy mb-1 align-bottom" *ngIf="site.email">Email</span> <a *ngIf="site.email" [href]="'mailto:' + site.email" class="col-8">{{ site.email }}</a>
                <span class="col-4 text-right heavy mb-1 align-bottom" *ngIf="site.phoneNumber">Phone</span> <span *ngIf="site.phoneNumber" class="col-8">{{ site.phoneNumber }}</span>
                <span class="col-4 text-right heavy mb-1 align-bottom" *ngIf="site.website">Website</span> <a *ngIf="site.website" target="_blank" [href]="formatURL(site.website)" class="col-8">{{ site.website }}</a>
                <fa-icon [icon]="faInstagram" class="col-4 text-right" *ngIf="site.instagram"></fa-icon><a *ngIf="site.instagram" [href]="formatURL(site.instagram)" class="col-8">{{ site.instagram }}</a>
                <fa-icon [icon]="faWhatsapp" class="col-4 text-right" *ngIf="site.whatsapp"></fa-icon><a *ngIf="site.whatsapp" [href]="formatURL(site.whatsapp)" class="col-8">{{ site.whatsapp }}</a>
                <fa-icon [icon]="faDiscord" class="col-4 text-right" *ngIf="site.discord"></fa-icon><a *ngIf="site.discord" [href]="formatURL(site.discord)" class="col-8">{{ site.discord }}</a>
              </div>
            </div>
          </div>

        </div>

        <hr class="my-4">

        <div class="row m-2 p-2 bg-light rounded border border-secondary">
          <div [innerHTML]="site.description"></div>
        </div>

        <div class="row m-2 p-2 warning">
          <h3 class="col-12 text-center">Danger Zone</h3>
          <button class="btn btn-danger m-2" (click)="exitSite()">Exit Site</button>
        </div>
      </div>

      <div *ngIf="page == 'jam' && jam" class="container container-lg p-3">
        <div *ngIf="jam && site">
          <h1 class="text-center">{{jam.title}}</h1>

          <hr class="my-4">

          <div class="info d-block text-center p-5 mb-5" *ngIf="!jam.public">
            <p>Themes and categories are secret.</p>
            <p>Global Organizers will publish the themes and categories soon, check again later.</p>
          </div>

          <!-- THEMES -->
          <div class="row" *ngIf="jam.public">
            <h2 class="col-12 text-center">Themes</h2>
            <div class="col-md-4 p-2" *ngFor="let theme of jam.themes">
              <div class="card p-2 minh-2">
                <h3 *ngIf="site.language == 'PT'" class="text-center">{{ theme.titlePT }}</h3>
                <h3 *ngIf="site.language == 'ES'" class="text-center">{{ theme.titleES }}</h3>
                <h3 *ngIf="site.language == 'EN'" class="text-center">{{ theme.titleEN }}</h3>

                <p *ngIf="site.language == 'PT'" class="maxh-1 scroll p-2">{{ theme.descriptionPT }}</p>
                <p *ngIf="site.language == 'ES'" class="maxh-1 scroll p-2">{{ theme.descriptionES }}</p>
                <p *ngIf="site.language == 'EN'" class="maxh-1 scroll p-2">{{ theme.descriptionEN }}</p>

                <span style="flex-grow: 1;"></span>

                <a *ngIf="site.language == 'PT'" href="{{ theme.manualPT }}" class="btn btn-black align-bottom">Manual</a>
                <a *ngIf="site.language == 'ES'" href="{{ theme.manualES }}" class="btn btn-black align-bottom">Manual</a>
                <a *ngIf="site.language == 'EN'" href="{{ theme.manualEN }}" class="btn btn-black align-bottom">Manual</a>
              </div>
            </div>
          </div>

          <hr *ngIf="jam.public" class="my-4">

          <!-- CATEGORIES -->
          <div class="row" *ngIf="jam.public">
            <h2 class="col-12 text-center">Categories</h2>
            <div class="col-md-4 p-2" *ngFor="let category of jam.categories">
              <div class="card p-2 minh-2">
                <h3 *ngIf="site.language == 'PT'" class="text-center">{{ category.titlePT }}</h3>
                <h3 *ngIf="site.language == 'ES'" class="text-center">{{ category.titleES }}</h3>
                <h3 *ngIf="site.language == 'EN'" class="text-center">{{ category.titleEN }}</h3>

                <p *ngIf="site.language == 'PT'" class="maxh-1 scroll p-2">{{ category.descriptionPT }}</p>
                <p *ngIf="site.language == 'ES'" class="maxh-1 scroll p-2">{{ category.descriptionES }}</p>
                <p *ngIf="site.language == 'EN'" class="maxh-1 scroll p-2">{{ category.descriptionEN }}</p>

                <span style="flex-grow: 1;"></span>

                <a *ngIf="site.language == 'PT'" href="{{ category.manualPT }}" class="btn btn-black align-bottom">Manual</a>
                <a *ngIf="site.language == 'ES'" href="{{ category.manualES }}" class="btn btn-black align-bottom">Manual</a>
                <a *ngIf="site.language == 'EN'" href="{{ category.manualEN }}" class="btn btn-black align-bottom">Manual</a>
              </div>
            </div>
          </div>

          <hr class="my-4">

          <!-- STAGES -->
          <div class="row pb-3 align-items-end">
            <h2 class="col-12 text-center">Stages<a matTooltip="All stages start at 00:00:00 and end at 11:59:59 in Brazilian Time (GMT-3)." class="tooltip-trigger">?</a></h2>
            <div class="col-3 p-2" *ngFor="let stage of jam.stages">
              <div [ngClass]="getStageClass(stage)">
                <h3 class="text-center">{{ stage.stageName }}</h3>
                <p class="text-center">{{ formatDate(stage.startDate) }} - {{ formatDate(stage.endDate) }}</p>
                <p class="text-center" *ngIf="isCurrentStage(stage)">Current Stage</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="page == 'games'" class="container container-lg p-3">
        <h1>Games of this site</h1>
        <button class="btn btn-black btn-block" (click)="getSubmissionsOfSite()">LOAD SUBMISSIONS</button>
        <div class="row m-2">
          <div *ngFor="let s of siteSubmissions" class="p-2 col-4">
            <div class="rounded shadow bg-light text-center p-4">
              <h2>{{ s.title }}</h2>
              by<br>
              <b>{{ s.teamName }}</b><br>
              <a [href]="s.link" target="_blank">{{ s.link }}</a><br>
            </div>
          </div>
        </div>
      </div>

      <!-- #endregion -->

      <!-- #region JAM -->
      <div *ngIf="page == 'team'" class="container container-lg p-3">
        <div *ngIf="!team" class="warning text-center p-2">
          <p>You don't have a team yet.</p>
          <p>Create a new team or join an existing team with the secret code.</p>
          <button class="btn btn-primary m-2" (click)="createTeam()">Create a new team</button>
          <button class="btn btn-primary m-2" (click)="joinTeam()">Join an existing team</button>
        </div>

        <div *ngIf="team">
          <h1 class="text-center">My Team: {{ team.teamName.toUpperCase() }}</h1>

          <div class="row mt-3">
            <div class="col-8">
              <h3 class="text-center">Team Name:</h3>
              <div class="input-group input-group-lg">
                <input type="text" class="form-control d-block" [(ngModel)]="team.teamName">
                <div class="input-group-append">
                  <button class="navbutton navL1 text-center" (click)="saveTeam()">Update Team Name</button>
                </div>
              </div>
            </div>
            <div class="col-4">
              <h3 class="text-center">Join Code:</h3>
              <p class="text-center">
                {{ team.teamCode }}
                <a matTooltip="Share this code with your fellow jammers to invite them to your team." class="tooltip-trigger">?</a>
              </p>
            </div>
          </div>


          <h2 class="text-center mt-3">Team Members</h2>
          <hr>
          <div class="row">
            <div class="col-3 m-2" *ngFor="let jammer of team.jammers">
              <div class="card text-center">
                <h3>{{ jammer.name }}</h3>
                <p><fa-icon [icon]="faEnvelope" class="mr-2"></fa-icon><a [href]="'mailto:' + jammer.email">{{ jammer.email }}</a></p>
                <p><fa-icon [icon]="faDiscord" class="mr-2"></fa-icon> {{ jammer.discordUsername ? jammer.discordUsername : 'None' }}</p>
                <p *ngIf="jammer.role && jammer.role === 'owner'">Team Leader</p>
              </div>
            </div>
          </div>

          <div class="row m-2 p-2 warning">
            <h3 class="col-12 text-center">Danger Zone</h3>
            <button class="btn btn-danger m-2" (click)="exitTeam()">Exit Team</button>
          </div>
        </div>
      </div>

      <div *ngIf="page == 'submission'" class="container container-lg p-3">
        <h1>My Submission</h1>
        <div *ngIf="!team">
          <div class="warning m-3 p-4 text-center">
            <p class="py-2">
              You are not assigned to a team, please create a new team or join a team in your venue to submit a game.
            </p>
          </div>
        </div>

        <div *ngIf="submission" class="p-4">
          <div *ngIf="submission.submissionDelta > 0" class="d-block bg-success my-2 p-4 text-white">
            <h2  >Submission Status: VALID</h2>
          </div>
          <div *ngIf="submission.submissionDelta < 0" class="d-block bg-danger my-2 p-4 text-white">
            <h2  >Submission Status: LATE</h2>
          </div>
        </div>

        <div *ngIf="team">
          <div *ngIf="site.language == 'PT'"> <!-- SUBMISSION FORM IN PORTUGUESE -->
            <h2 *ngIf="getRelativeTimeDelta() > 0" class="text-success">No Prazo - {{ formatTimeDelta( getRelativeTimeDelta() ) }}</h2>
            <h2 *ngIf="getRelativeTimeDelta() < 0" class="text-danger">Atrasado - {{ formatTimeDelta( getRelativeTimeDelta() ) }}</h2>
            <div class="info m-3 p-4">
              <p class="py-2">
                Antes de enviar seu jogo, certifique-se de ler as <b><a href="/rules" target="_blank">Regras e Regulamentos</a></b>.<br>
                Revise todos os pontos desta lista de verificação antes de fazer sua submissão:
              </p>

              <ul>
                <li>Todos os membros da minha equipe entraram no <b><a href="https://itch.io/jam/gamejamplus-2425" target="_blank">itch.io oficial</a> da GameJam+</b></li>
                <li>Nosso jogo já foi enviado para a itch.io oficial da GameJam+</li>
                <li>A página do jogo é pública</li>
                <li>A versão do jogo é jogável</li>
                <li>Adicionamos capturas de tela, uma descrição, tags e todas as informações necessárias para jogar nosso jogo</li>
              </ul>
            </div>
            <form (submit)="saveSubmission()" class="rounded shadow m-2 bg-light p-4" [formGroup]="submissionForm" enctype="multipart/form-data">
              <div class="row">
                <div class="form-group col-12"> <!-- TITLE -->
                  <label for="title" class="required">Título do seu jogo</label>
                  <input type="text" class="form-control form-control-lg" placeholder="Next GOTY" formControlName="title">
                </div>

                <div class="form-group col-6"> <!-- LINK -->
                  <label for="link" class="required">Link para a página do seu jogo no itch.io</label>
                  <input type="url" class="form-control" placeholder="https://myteam.itch.io/mygame" formControlName="link">
                </div>

                <div class="form-group col-6"> <!-- CONTACT -->
                  <label for="contact" class="required">
                    Quem é a pessoa responsável pela equipe?
                    <a matTooltip="Esse membro da equipe será o ponto de contato para o GJ+ caso precisemos entrar em contato." class="tooltip-trigger">?</a>
                  </label>
                  <select class="form-control" formControlName="contact">
                    <option value="" disabled selected hidden>Selecione um membro da equipe</option>
                    <option *ngFor="let jammer of team.jammers; index as i" [value]="i">
                      {{ jammer.name }} - {{ jammer.email }}
                    </option>
                  </select>
                </div>

                <div class="form-group col-12"> <!-- DESCRIPTION -->
                  <label for="description" class="required">Escreva aqui uma breve descrição do seu jogo</label>
                  <textarea class="form-control" formControlName="description" rows="5"></textarea>
                </div>

                <div class="form-group col-6"> <!-- GENRE -->
                  <label for="genre">Quais são os gêneros do seu jogo?</label>
                  <select class="form-select" #selectGenre (change)="setGameGenre(selectGenre.selectedOptions)" multiple>
                    <option value="Action">Ação</option>
                    <option value="Adventure">Aventura</option>
                    <option value="Educational">Educacional</option>
                    <option value="Hypercasual">Hipercasual</option>
                    <option value="Multiplayer">Multijogador</option>
                    <option value="Narrative">Narrativa</option>
                    <option value="Platforming">Plataforma</option>
                    <option value="Puzzle">Puzzle</option>
                    <option value="Runner">Runner</option>
                    <option value="Sandbox">Sandbox</option>
                    <option value="Shooter">Shooter</option>
                  </select>
                </div>

                <div class="form-group col-6"> <!-- TOPICS -->
                  <label for="topic">
                    Seu jogo aborda algum dos seguintes tópicos?
                    <a matTooltip="A abordagem pode ser na narrativa, jogabilidade, arte ou outros. Você pode marcar mais de uma opção." class="tooltip-trigger">?</a>
                  </label>
                  <select class="form-select" #selectTopic (change)="setGameTopics(selectTopic.selectedOptions)" multiple>
                    <option value="Business">Negócios</option>
                    <option value="Sustentability">Sustentabilidade</option>
                    <option value="Educational">Educacional</option>
                    <option value="For Children">Para Crianças</option>
                    <option value="Diversity">Diversidade</option>
                    <option value="Environment">Meio Ambiente</option>
                    <option value="Originary/Native People">Povos Originários/Nativos</option>
                    <option value="Historical Facts">Fatos Históricos</option>
                    <option value="Health">Saúde</option>
                    <option value="Inclussion and Accessibility">Inclusão e Acessibilidade</option>
                    <option value="Folk Tales">Contos Folclóricos</option>
                    <option value="Finantial Education">Educação Financeira</option>
                    <option value="Music or Rhythm">Música ou Ritmo</option>
                    <option value="Mental Health">Saúde Mental</option>
                  </select>
                </div>

                <div class="form-group col-4"> <!-- THEMES -->
                  <label for="Themes" class="required">Em quais TEMAS seu jogo está registrado?</label>
                  <select class="form-select" #selectThemes (change)="setGameThemes(selectThemes.selectedOptions)" multiple>
                    <option *ngFor="let theme of jam.themes; index as i" [value]="theme.titleEN">{{ theme.titlePT }}</option>
                  </select>
                </div>

                <div class="form-group col-4"> <!-- CATEGORIES -->
                  <label for="Categories" class="required">CATEGORIA onde seu jogo compite?</label>
                  <select class="form-select" #selectCategories (change)="setGameCategories(selectCategories.selectedOptions)" multiple>
                    <option *ngFor="let category of jam.categories; index as i" [value]="category.titleEN">{{ category.titlePT }}</option>
                  </select>
                </div>

                <div class="form-group col-4"> <!-- PLATFORMS -->
                  <label for="Platforms" class="required">Para quais plataformas foi desenvolvido?</label>
                  <select class="form-select" #selectPlatforms (change)="setGamePlatforms(selectPlatforms.selectedOptions)" multiple>
                    <option value="PC">PC</option>
                    <option value="Console">Console</option>
                    <option value="Mobile">Mobile</option>
                    <option value="VR/AR">VR/AR</option>
                    <option value="Board Game">Jogo de Tabuleiro</option>
                    <option value="Other">Outro</option>
                  </select>
                </div>

                <div class="form-group col-6"> <!-- GRAPHICS -->
                  <label for="Graphics" class="required">Que tipo de gráficos o seu jogo usa?</label>
                  <select class="form-select" formControlName="graphics">
                    <option value="2D">2D</option>
                    <option value="2.5D">2.5D</option>
                    <option value="3D">3D</option>
                    <option value="Other">Otro</option>
                  </select>
                </div>

                <div class="form-group col-6"> <!-- ENGINE -->
                  <label for="Engine" class="required">Qual motor foi usado nesta build?</label>
                  <select class="form-select" formControlName="engine">
                    <option value="Unity">Unity</option>
                    <option value="Unreal">Unreal</option>
                    <option value="Godot">Godot</option>
                    <option value="GameMaker">GameMaker</option>
                    <option value="Construct">Construct</option>
                    <option value="RPGMaker">RPGMaker</option>
                    <option value="Other">Otro</option>
                  </select>
                </div>

                <div class="form-group col-6"> <!-- RECOMMENDATION -->
                  <label for="Recommendation" class="required">De 0 a 10, você recomendaria o GameJamPlus a um amigo?</label>
                  <input type="number" class="form-control" min="0" max="10" step="1" value="5" formControlName="recommendation">
                </div>

                <div class="form-group col-6"> <!-- ENJOYMENT -->
                  <label for="Enjoyment" class="required">De 0 a 10, como foi sua experiência durante o GameJamPlus? Você gostou?</label>
                  <input type="number" class="form-control" min="0" max="10" step="1" value="5" formControlName="enjoyment">
                </div>

                <div class="form-group col-12"> <!-- SUGGESTIONS -->
                  <label for="Suggestions">
                    Você tem alguma outra consideração, dica, reclamação ou qualquer outra coisa que gostaria de compartilhar conosco?
                    <a matTooltip="Por favor, não seja maldoso =)" class="tooltip-trigger">?</a>
                  </label>
                  <textarea rows="5" class="form-control" formControlName="suggestions"></textarea>
                </div>

                <div class="form-group col-12"> <!-- AUTHORIZATION -->
                  <label for="Authorization" class="required">
                    Autorizo o uso e o processamento dos dados fornecidos por mim ao GameJam+, incluindo meus dados pessoais, para prospectar oportunidades de meu interesse, incluindo a transferência desses dados para terceiros, com o objetivo de me conectar a entidades e oportunidades no mercado de jogos digitais, nacional e internacionalmente, e segmentos relacionados.
                  </label>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="authorization" value="Yes" formControlName="authorization" checked>
                    <label class="form-check-label" for="autorizationYes">
                      Sim
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="authorization" value="No" formControlName="authorization">
                    <label class="form-check-label" for="authorizationNo">
                      Não
                    </label>
                  </div>
                </div>

                <button type="submit" class="btn btn-black col-12">ENVIAR JOGO</button>
              </div>
            </form>
          </div>

          <div *ngIf="site.language == 'EN'"> <!-- SUBMISSION FORM IN ENGLISH -->
            <h2 *ngIf="getRelativeTimeDelta() > 0" class="text-success">On Time - {{ formatTimeDelta( getRelativeTimeDelta() ) }}</h2>
            <h2 *ngIf="getRelativeTimeDelta() < 0" class="text-danger">Late - {{ formatTimeDelta( getRelativeTimeDelta() ) }}</h2>
            <div class="info m-3 p-4">
              <p class="py-2">
                Before submitting your game, make sure to read the <b><a href="/rules" target="_blank">Rules and Regulations</a></b>.<br>
                Review all the points in this checklist before making your submission:
              </p>

              <ul>
                <li>All members of my team joined the official <b><a href="https://itch.io/jam/gamejamplus-2425" target="_blank">itch.io game jam</a></b></li>
                <li>Our game is already submitted to the official itch.io game jam</li>
                <li>The game page is public</li>
                <li>The build is in a playable state</li>
                <li>We have added screenshots, a description, tags, and all the information required to play our game.</li>
              </ul>
            </div>
            <form (submit)="saveSubmission()" class="rounded shadow m-2 bg-light p-4" [formGroup]="submissionForm" enctype="multipart/form-data">
              <div class="row">
                <div class="form-group col-12"> <!-- TITLE -->
                  <label for="title" class="required">Title of your game</label>
                  <input type="text" class="form-control form-control-lg" placeholder="Next GOTY" formControlName="title">
                </div>

                <div class="form-group col-6"> <!-- LINK -->
                  <label for="link" class="required">Link to your game's itch.io page</label>
                  <input type="url" class="form-control" placeholder="https://myteam.itch.io/mygame" formControlName="link">
                </div>

                <div class="form-group col-6"> <!-- CONTACT -->
                  <label for="contact" class="required">
                    Who is the person responsible for the team
                    <a matTooltip="This teammember will be the contact point for GJ+ in case we need to reach out" class="tooltip-trigger">?</a>
                  </label>
                  <select class="form-control" formControlName="contact">
                    <option value="" disabled selected hidden>Select a team member</option>
                    <option *ngFor="let jammer of team.jammers; index as i" [value]="i">
                      {{ jammer.name }} - {{ jammer.email }}
                    </option>
                  </select>
                </div>

                <div class="form-group col-12"> <!-- DESCRIPTION -->
                  <label for="description" class="required">Write here a small description of your game</label>
                  <textarea class="form-control" formControlName="description" rows="5"></textarea>
                </div>

                <div class="form-group col-6"> <!-- GENRE -->
                  <label for="genre">What are your game's genres?</label>
                  <select class="form-select" #selectGenre (change)="setGameGenre(selectGenre.selectedOptions)" multiple>
                    <option value="Action">Action</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Educational">Educational</option>
                    <option value="Hypercasual">Hypercasual</option>
                    <option value="Multiplayer">Multiplayer</option>
                    <option value="Narrative">Narrative</option>
                    <option value="Platforming">Platforming</option>
                    <option value="Puzzle">Puzzle</option>
                    <option value="Runner">Runner</option>
                    <option value="Sandbox">Sandbox</option>
                    <option value="Shooter">Shooter</option>
                  </select>
                </div>

                <div class="form-group col-6"> <!-- TOPICS -->
                  <label for="topic">
                    Does your game approach any of the following topics?
                    <a matTooltip="The approach can be on the narrative, gameplay, art or others. You can check more than one option." class="tooltip-trigger">?</a>
                  </label>
                  <select class="form-select" #selectTopic (change)="setGameTopics(selectTopic.selectedOptions)" multiple>
                    <option value="Business">Business</option>
                    <option value="Sustentability">Sustentability</option>
                    <option value="Educational">Educational</option>
                    <option value="For Children">For Children</option>
                    <option value="Diversity">Diversity</option>
                    <option value="Environment">Environment</option>
                    <option value="Originary/Native People">Originary/Native People</option>
                    <option value="Historical Facts">Historical Facts</option>
                    <option value="Health">Health</option>
                    <option value="Inclussion and Accessibility">Inclussion and Accessibility</option>
                    <option value="Folk Tales">Folk Tales</option>
                    <option value="Finantial Education">Finantial Education</option>
                    <option value="Music or Rhythm">Music or Rhythm</option>
                    <option value="Mental Health">Mental Health</option>
                  </select>
                </div>

                <div class="form-group col-4"> <!-- THEMES -->
                  <label for="Themes" class="required">In which THEMES is your game registered for?</label>
                  <select class="form-select" #selectThemes (change)="setGameThemes(selectThemes.selectedOptions)" multiple>
                    <option *ngFor="let theme of jam.themes; index as i" [value]="theme.titleEN">{{ theme.titleEN }}</option>
                  </select>
                </div>

                <div class="form-group col-4"> <!-- CATEGORIES -->
                  <label for="Categories" class="required">Is your game competing in any CATEGORIES?</label>
                  <select class="form-select" #selectCategories (change)="setGameCategories(selectCategories.selectedOptions)" multiple>
                    <option *ngFor="let category of jam.categories; index as i" [value]="category.titleEN">{{ category.titleEN }}</option>
                  </select>
                </div>

                <div class="form-group col-4"> <!-- PLATFORMS -->
                  <label for="Platforms" class="required">What platforms is your game built for?</label>
                  <select class="form-select" #selectPlatforms (change)="setGamePlatforms(selectPlatforms.selectedOptions)" multiple>
                    <option value="PC">PC</option>
                    <option value="Console">Console</option>
                    <option value="Mobile">Mobile</option>
                    <option value="VR/AR">VR/AR</option>
                    <option value="Board Game">Board Game</option>
                    <option value="Other">Other</option>
                  </select>
                </div>

                <div class="form-group col-6"> <!-- GRAPHICS -->
                  <label for="Graphics" class="required">What kind of graphics does your game have?</label>
                  <select class="form-select" formControlName="graphics">
                    <option value="2D">2D</option>
                    <option value="2.5D">2.5D</option>
                    <option value="3D">3D</option>
                    <option value="Other">Other</option>
                  </select>
                </div>

                <div class="form-group col-6"> <!-- ENGINE -->
                  <label for="Engine" class="required">What engine was used on this build?</label>
                  <select class="form-select" formControlName="engine">
                    <option value="Unity">Unity</option>
                    <option value="Unreal">Unreal</option>
                    <option value="Godot">Godot</option>
                    <option value="GameMaker">GameMaker</option>
                    <option value="Construct">Construct</option>
                    <option value="RPGMaker">RPGMaker</option>
                    <option value="Other">Otro</option>
                  </select>
                </div>

                <div class="form-group col-6"> <!-- RECOMMENDATION -->
                  <label for="Recommendation">From 0 to 10, what are the chances of you recommending GameJamPlus to a friend?</label>
                  <input type="number" class="form-control" min="0" max="10" step="1" value="5" formControlName="recommendation">
                </div>

                <div class="form-group col-6"> <!-- ENJOYMENT -->
                  <label for="Enjoyment">From 0 to 10, how was your experience during GameJamPlus? did you enjoy it?</label>
                  <input type="number" class="form-control" min="0" max="10" step="1" value="5" formControlName="enjoyment">
                </div>

                <div class="form-group col-12"> <!-- SUGGESTIONS -->
                  <label for="Suggestions">
                    Do you have any other considerations, tips, complaints or anything else you'd like to share with us?
                    <a matTooltip="Please don't be mean =)" class="tooltip-trigger">?</a>
                  </label>
                  <textarea rows="5" class="form-control" formControlName="suggestions"></textarea>
                </div>

                <div class="form-group col-12"> <!-- AUTHORIZATION -->
                  <label for="Authorization" class="required">
                    I authorize the use and processing of the data provided by me to GameJam+, including my personal data, to prospect opportunities of interest to me, including the transfer of this data to third parties, with the aim of connecting me to entities and opportunities in the industry and audiovisual market of digital games , nationally and internationally, and related segments.
                  </label>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="authorization" value="Yes" formControlName="authorization" checked>
                    <label class="form-check-label" for="autorizationYes">
                      Yes
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="authorization" value="No" formControlName="authorization">
                    <label class="form-check-label" for="authorizationNo">
                      No
                    </label>
                  </div>
                </div>

                <button type="submit" class="btn btn-black col-12">SUBMIT GAME</button>
              </div>
            </form>
          </div>

          <div *ngIf="site.language == 'ES'"> <!-- SUBMISSION FORM IN SPANISH -->
            <h2 *ngIf="getRelativeTimeDelta() > 0" class="text-success">A Tiempo - {{ formatTimeDelta( getRelativeTimeDelta() ) }}</h2>
            <h2 *ngIf="getRelativeTimeDelta() < 0" class="text-danger">Tarde - {{ formatTimeDelta( getRelativeTimeDelta() ) }}</h2>
            <div class="info m-3 p-4">
              <p class="py-2">
                Antes de enviar tu juego, procura leer las <b><a href="/rules" target="_blank">Reglas y Condiciones</a></b>.<br>
                Revisa todos estos puntos antes de hacer tu envío:
              </p>

              <ul>
                <li>Todos los miembros de nuestro equipo se unieron al <b><a href="https://itch.io/jam/gamejamplus-2425" target="_blank">jam de itch.io</a></b> oficial de GameJam+</li>
                <li>Ya enviamos nuestro juego al jam de itch.io oficial de GameJam+</li>
                <li>La página del juego está pública</li>
                <li>El build está en un estado jugable</li>
                <li>Añadimos capturas de pantalla, descripción, tags, y toda la información requerida para jugar nuestro juego.</li>
              </ul>
            </div>
            <form (submit)="saveSubmission()" class="rounded shadow m-2 bg-light p-4" [formGroup]="submissionForm" enctype="multipart/form-data">
              <div class="row">
                <div class="form-group col-12"> <!-- TITLE -->
                  <label for="title" class="required">Título del juego</label>
                  <input type="text" class="form-control form-control-lg" placeholder="Siguiente GOTY" formControlName="title">
                </div>

                <div class="form-group col-6"> <!-- LINK -->
                  <label for="link" class="required">Enlace a la página de itch.io del juego</label>
                  <input type="url" class="form-control" placeholder="https://myteam.itch.io/mygame" formControlName="link">
                </div>

                <div class="form-group col-6"> <!-- CONTACT -->
                  <label for="contact" class="required">
                    Quién es la persona responsable del equipo
                    <a matTooltip="This teammember will be the contact point for GJ+ in case we need to reach out" class="tooltip-trigger">?</a>
                  </label>
                  <select class="form-control" formControlName="contact">
                    <option value="" disabled selected hidden>Selecciona alguien de tu equipo</option>
                    <option *ngFor="let jammer of team.jammers; index as i" [value]="i">
                      {{ jammer.name }} - {{ jammer.email }}
                    </option>
                  </select>
                </div>

                <div class="form-group col-12"> <!-- DESCRIPTION -->
                  <label for="description" class="required">Escribe una descripción corta de tu juego</label>
                  <textarea class="form-control" formControlName="description" rows="5"></textarea>
                </div>

                <div class="form-group col-6"> <!-- GENRE -->
                  <label for="genre">¿Cuáles son los géneros de tu juego?</label>
                  <select class="form-select" #selectGenre (change)="setGameGenre(selectGenre.selectedOptions)" multiple>
                    <option value="Action">Acción</option>
                    <option value="Adventure">Aventura</option>
                    <option value="Educational">Educativo</option>
                    <option value="Hypercasual">Hypercasual</option>
                    <option value="Multiplayer">Multijugador</option>
                    <option value="Narrative">Narrativo</option>
                    <option value="Platforming">Plataformero</option>
                    <option value="Puzzle">Puzzle</option>
                    <option value="Runner">Runner</option>
                    <option value="Sandbox">Sandbox</option>
                    <option value="Shooter">Shooter</option>
                  </select>
                </div>

                <div class="form-group col-6"> <!-- TOPICS -->
                  <label for="topic">
                    ¿Tu juego aborda alguno de estos asuntos?
                    <a matTooltip="The approach can be on the narrative, gameplay, art or others. You can check more than one option." class="tooltip-trigger">?</a>
                  </label>
                  <select class="form-select" #selectTopic (change)="setGameTopics(selectTopic.selectedOptions)" multiple>
                    <option value="Business">Negocios</option>
                    <option value="Sustentability">Sostenibilidad</option>
                    <option value="Educational">Educación</option>
                    <option value="For Children">Para niños</option>
                    <option value="Diversity">Diversidad</option>
                    <option value="Environment">Medio Ambiente</option>
                    <option value="Originary/Native People">Pueblos originarios</option>
                    <option value="Historical Facts">Hechos históricos</option>
                    <option value="Health">Salud</option>
                    <option value="Inclussion and Accessibility">Inclusión y accesibilidad</option>
                    <option value="Folk Tales">Folclore y leyendas</option>
                    <option value="Finantial Education">Educación financiera</option>
                    <option value="Music or Rhythm">Música o ritmo</option>
                    <option value="Mental Health">Salud mental</option>
                  </select>
                </div>

                <div class="form-group col-4"> <!-- THEMES -->
                  <label for="Themes" class="required">¿Cuáles TEMAS tiene tu juego?</label>
                  <select class="form-select" #selectThemes (change)="setGameThemes(selectThemes.selectedOptions)" multiple>
                    <option *ngFor="let theme of jam.themes; index as i" [value]="theme.titleEN">{{ theme.titleES }}</option>
                  </select>
                </div>

                <div class="form-group col-4"> <!-- CATEGORIES -->
                  <label for="Categories" class="required">¿Tu juego tiene alguna CATEGORÍA?</label>
                  <select class="form-select" #selectCategories (change)="setGameCategories(selectCategories.selectedOptions)" multiple>
                    <option *ngFor="let category of jam.categories; index as i" [value]="category.titleEN">{{ category.titleES }}</option>
                  </select>
                </div>

                <div class="form-group col-4"> <!-- PLATFORMS -->
                  <label for="Platforms" class="required">¿Para qué plataformas está hecho tu juego?</label>
                  <select class="form-select" #selectPlatforms (change)="setGamePlatforms(selectPlatforms.selectedOptions)" multiple>
                    <option value="PC">PC</option>
                    <option value="Console">Console</option>
                    <option value="Mobile">Mobile</option>
                    <option value="VR/AR">VR/AR</option>
                    <option value="Board Game">Board Game</option>
                    <option value="Other">Other</option>
                  </select>
                </div>

                <div class="form-group col-6"> <!-- GRAPHICS -->
                  <label for="Graphics" class="required">¿Qué tipo de gráficas tiene tu juego?</label>
                  <select class="form-select" formControlName="graphics">
                    <option value="2D">2D</option>
                    <option value="2.5D">2.5D</option>
                    <option value="3D">3D</option>
                    <option value="Other">Otro</option>
                  </select>
                </div>

                <div class="form-group col-6"> <!-- ENGINE -->
                  <label for="Engine" class="required">¿En cuál motor está hecho tu juego?</label>
                  <select class="form-select" formControlName="engine">
                    <option value="Unity">Unity</option>
                    <option value="Unreal">Unreal</option>
                    <option value="Godot">Godot</option>
                    <option value="GameMaker">GameMaker</option>
                    <option value="Construct">Construct</option>
                    <option value="RPGMaker">RPGMaker</option>
                    <option value="Other">Otro</option>
                  </select>
                </div>

                <div class="form-group col-6"> <!-- RECOMMENDATION -->
                  <label for="Recommendation">De 0 a 10, ¿qué chance hay de que recomiendes GameJam+ a un amigo?</label>
                  <input type="number" class="form-control" min="0" max="10" step="1" value="5" formControlName="recommendation">
                </div>

                <div class="form-group col-6"> <!-- ENJOYMENT -->
                  <label for="Enjoyment">De 0 a 10, ¿cómo fue tu experiencia con GameJam+? ¿Te gustó?</label>
                  <input type="number" class="form-control" min="0" max="10" step="1" value="5" formControlName="enjoyment">
                </div>

                <div class="form-group col-12"> <!-- SUGGESTIONS -->
                  <label for="Suggestions">
                    ¿Tienes algún otro comentario, sugerencia, o queja adicional que quieras decirnos?
                    <a matTooltip="Por favor sé gentil =)" class="tooltip-trigger">?</a>
                  </label>
                  <textarea rows="5" class="form-control" formControlName="suggestions"></textarea>
                </div>

                <div class="form-group col-12"> <!-- AUTHORIZATION -->
                  <label for="Authorization" class="required">
                    Autorizo el uso y procesamiento de los datos provistos por mí a GameJam+, incluyendo mi información personal, a posibles oportunidades que puedan serme de interés, incluida la transferencia de datos a terceros, con el fin de conectarme a entidades y oportunidades en la industria y mercado audiovisual y de videojuegos, nacional e internacional, y en segmentos relacionados.
                  </label>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="authorization" value="Yes" formControlName="authorization" checked>
                    <label class="form-check-label" for="autorizationYes">
                      Sí
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="authorization" value="No" formControlName="authorization">
                    <label class="form-check-label" for="authorizationNo">
                      No
                    </label>
                  </div>
                </div>

                <button type="submit" class="btn btn-black col-12">ENVIAR JUEGO</button>
              </div>
            </form>
          </div>
        </div>

        <div *ngIf="team && !onTimeForSubmission()">
          <p> HERE BE THE SUBMISSION REVIEW </p>
        </div>
      </div>

      <div *ngIf="page == 'feedback'" class="container container-lg p-3">
        <h1>Feedback from the Judges</h1>
        <p>This section is still under construction</p>
      </div>
      <!-- #endregion -->

      <div *ngIf="page == 'rules'" class="container container-lg p-3">
        <app-rules></app-rules>
      </div>
    </div>

    <!-- #region SIDEBAR -->
    <div id="localHomeSideBar" class="col-2">
      <div class="p-2 mb-2">
        <div class="card text-center p-2 shadow">
          <fa-icon [icon]="faCoffee" class="fa-3x"></fa-icon>
          <p>Welcome to the new and improved GJ+ platform.</p>
          <p><a href="mailto:support@gamejamplus.com">support&#64;gamejamplus.com</a></p>
        </div>
      </div>

      <div class="p-2 mb-2">
        <div class="card text-center p-2 shadow">
          <fa-icon [icon]="faJar" class="fa-3x"></fa-icon>
          <span><b>Venues:</b> {{ jamData.siteCount }}</span>
          <span><b>Countries:</b> {{ jamData.countryCount }}</span>
          <span><b>Jammers:</b>  {{ jamData.jammerCount }}</span>
          <span><b>Teams:</b> {{ jamData.teamCount }} <br></span>
          <span><b>Submissions:</b> {{ jamData.submissionCount }}</span>
          <span class="mb-2"></span>
        </div>
      </div>

      <div class="p-2 mb-2">
        <div class="card text-center p-2 shadow">
          <img src="/assets/Images/cidev.png" style="width: 40%; margin: auto;">
          <p>Powered by CIDeV</p>
        </div>
      </div>

      <div class="p-2 mb-2">
        <div class="card text-center p-2 shadow">
          <fa-icon [icon]="faUsers" class="fa-3x"></fa-icon>
          <p><b>Special Thanks</b></p>
          <p>Sharon Chacón<br>David Pastor<br>Jeffry Cuendiz<br>Paublo Ávila</p>
        </div>
      </div>
    </div>
    <!-- #endregion -->
  </div>
</div>

<app-messages></app-messages>
