<div>
  <!-- #region NO JAM -->
  <div *ngIf="!jam" class="warning p-5 text-center m-2">
    <p>You haven't been assigned to a Site yet.</p>
    <p>Select a site from the list below to proceed.</p>

    <div class="row">
      <div class="col-3 border">
        <h2>Regions</h2>
        <div *ngFor="let region of regions" class="p-2" (click)="selectRegion(region)">
          <div class="card p-2 shadow pointer">
            <h3>{{ region.name }}</h3>
          </div>
        </div>
      </div>

      <div *ngIf="selectedRegion" class="col-9">
        <h2>Sites of {{ selectedRegion!.name }}</h2>
        <div class="row">
          <div class="col-3" *ngFor="let site of filteredSites">
            <div class="card p-2 shadow minh-2">
              <h3 class="fs-4">{{ site.name }}</h3>
              <p>
                {{ site.country.name }} - {{ site.city }}<br>
                Modality: {{ site.modality }}<br>
                <span *ngIf="site.email">{{ site.email }}<br></span>
                <span *ngIf="site.phoneNumber">{{ site.phoneNumber }}<br></span>
                <span *ngIf="site.open">Status: Open for registration</span>
              </p>
              <span *ngIf="site.open" style="flex-grow: 1;"></span>
              <button *ngIf="site.open" class="btn btn-black align-bottom" (click)="joinSite(site)">Join site</button>

              <p *ngIf="!site.open">Status: Closed</p>
              <p *ngIf="!site.open">Contact the site's organizers for more information on how to join this site</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- #endregion -->
  
  <div *ngIf="jam && site" class="row w-100 p-3">

    <div class="p-3 mb-2 bg-dark d-block text-white text-center timer">{{ deltaTime }}</div>

    <!-- #region NAV BAR -->
    <div id="localHomeNavBar" class="col-2 container-fluid">
      <div class="navbutton navL1" data-toggle="collapse" data-target="#homeMenu">Home</div>
      <ul #homeMenu id="homeMenu" class="collapse">
        <li class="navbutton navL2" (click)="page = 'site'">Site Info</li>
        <li class="navbutton navL2" (click)="page = 'jam'">Jam Info</li>
        <li class="navbutton navL2" (click)="page = 'games'">Games from Site</li>
        <!--<li class="navbutton navL2" (click)="page = 'news'">Notifications</li>-->
      </ul>

      <div class="navbutton navL1" data-toggle="collapse" data-target="#venueMenu">My Jam</div>
      <ul #venueMenu id="venueMenu" class="collapse">
        <li class="navbutton navL2" (click)="page = 'team'">My Team</li>
        <li class="navbutton navL2" (click)="page = 'submission'">My Submission</li>
        <li class="navbutton navL2" (click)="page = 'feedback'">Feedback</li>
      </ul>
    </div>
    <!-- #endregion -->

    <div id="jammerHomeContent" class="col-8">
      <!-- #region HOME -->
      <div *ngIf="page == 'site' && site" class="container container-lg p-3">
        <h1 class="text-center">{{ site.name.toUpperCase() }} [{{ site.language }}]</h1>
        <div class="row">
          <div class="col-8">
            <p><b>Country:</b> {{ site.country.code }} - {{ site.country.name }}</p>
            <p><b>City:</b> {{ site.city }}</p>
            <p *ngIf="site.address"><b>Address:</b> {{ site.address }}</p>
            <p *ngIf="site.startTime"><b>Start Time:</b> {{ convertTo12h(site.startTime) }}</p>
            <p>
              <b>Site Staff:</b>
              <span *ngFor="let member of staff">
                <br>
                <a [href]="'mailto:' + member.email">{{ member.name }}</a> 
                <span *ngIf="member.discordUsername" class="ml-1">
                  (<fa-icon [icon]="faDiscord"></fa-icon>{{ member.discordUsername }})
                </span>
              </span>
            </p>
          </div>
          <div class="col-4 text-right">
            <p><b>Modality:</b> {{ site.modality }}</p>
            <p *ngIf="site.server"><a [href]="site.server">{{ site.server }}</a></p>
            <p *ngIf="site.email"><a [href]="'mailto:'+site.email">{{ site.email }}</a></p>
            <p *ngIf="site.phoneNumber"><a [href]="generateWhatsAppLink(site.phoneNumber)">{{ site.phoneNumber }}</a></p>
          </div>
        </div>

        <hr class="my-4">

        <div class="row m-2 p-2 bg-light rounded border border-secondary">
          <div [innerHTML]="site.description"></div>
        </div>

        <div class="row m-2 p-2 warning">
          <h3 class="col-12 text-center">Danger Zone</h3>
          <button class="btn btn-danger m-2" (click)="exitSite()">Exit Site</button>
        </div>
      </div>

      <div *ngIf="page == 'jam' && jam" class="container container-lg p-3">
        <div *ngIf="jam && site">
          <h1 class="text-center">{{jam.title}}</h1>

          <hr class="my-4">

          <div class="info d-block text-center p-5 mb-5" *ngIf="!jam.public">
            <p>Themes and categories are secret.</p>
            <p>Global Organizers will publish the themes and categories soon, check again later.</p>
          </div>

          <!-- THEMES -->
          <div class="row" *ngIf="jam.public">
            <h2 class="col-12 text-center">Themes</h2>
            <div class="col-md-4 p-2" *ngFor="let theme of jam.themes">
              <div class="card p-2 minh-2">
                <h3 *ngIf="site.language == 'PT'" class="text-center">{{ theme.titlePT }}</h3>
                <h3 *ngIf="site.language == 'ES'" class="text-center">{{ theme.titleES }}</h3>
                <h3 *ngIf="site.language == 'EN'" class="text-center">{{ theme.titleEN }}</h3>

                <p *ngIf="site.language == 'PT'" class="maxh-1 scroll p-2">{{ theme.descriptionPT }}</p>
                <p *ngIf="site.language == 'ES'" class="maxh-1 scroll p-2">{{ theme.descriptionES }}</p>
                <p *ngIf="site.language == 'EN'" class="maxh-1 scroll p-2">{{ theme.descriptionEN }}</p>

                <span style="flex-grow: 1;"></span>

                <a *ngIf="site.language == 'PT'" href="{{ theme.manualPT }}" class="btn btn-black align-bottom">Manual</a>
                <a *ngIf="site.language == 'ES'" href="{{ theme.manualES }}" class="btn btn-black align-bottom">Manual</a>
                <a *ngIf="site.language == 'EN'" href="{{ theme.manualEN }}" class="btn btn-black align-bottom">Manual</a>
              </div>
            </div>
          </div>

          <hr *ngIf="jam.public" class="my-4">

          <!-- CATEGORIES -->
          <div class="row" *ngIf="jam.public">
            <h2 class="col-12 text-center">Categories</h2>
            <div class="col-md-4 p-2" *ngFor="let category of jam.categories">
              <div class="card p-2 minh-2">
                <h3 *ngIf="site.language == 'PT'" class="text-center">{{ category.titlePT }}</h3>
                <h3 *ngIf="site.language == 'ES'" class="text-center">{{ category.titleES }}</h3>
                <h3 *ngIf="site.language == 'EN'" class="text-center">{{ category.titleEN }}</h3>

                <p *ngIf="site.language == 'PT'" class="maxh-1 scroll p-2">{{ category.descriptionPT }}</p>
                <p *ngIf="site.language == 'ES'" class="maxh-1 scroll p-2">{{ category.descriptionES }}</p>
                <p *ngIf="site.language == 'EN'" class="maxh-1 scroll p-2">{{ category.descriptionEN }}</p>

                <span style="flex-grow: 1;"></span>

                <a *ngIf="site.language == 'PT'" href="{{ category.manualPT }}" class="btn btn-black align-bottom">Manual</a>
                <a *ngIf="site.language == 'ES'" href="{{ category.manualES }}" class="btn btn-black align-bottom">Manual</a>
                <a *ngIf="site.language == 'EN'" href="{{ category.manualEN }}" class="btn btn-black align-bottom">Manual</a>
              </div>
            </div>
          </div>

          <hr class="my-4">

          <!-- STAGES -->
          <div class="row pb-3 align-items-end">
            <h2 class="col-12 text-center">Stages</h2>
            <div class="col-3 p-2" *ngFor="let stage of jam.stages">
              <div [ngClass]="getStageClass(stage)">
                <h3 class="text-center">{{ stage.stageName }}</h3>
                <p class="text-center">{{ stage.startDate | date: 'dd/MM/yyyy' }} - {{ stage.endDate | date: 'dd/MM/yyyy' }}</p>
                <p class="text-center" *ngIf="isCurrentStage(stage)">Current Stage</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="page == 'games'" class="container container-lg p-3">
        <h1>Games of this site</h1>
        <p>This section is still under construction</p>
      </div>

      <!-- #endregion -->

      <!-- #region JAM -->
      <div *ngIf="page == 'team'" class="container container-lg p-3">
        <div *ngIf="!team" class="warning text-center p-2">
          <p>You don't have a team yet.</p>
          <p>Create a new team or join an existing team with the secret code.</p>
          <button class="btn btn-primary m-2" (click)="createTeam()">Create a new team</button>
          <button class="btn btn-primary m-2" (click)="joinTeam()">Join an existing team</button>
        </div>

        <div *ngIf="team">
          <h1 class="text-center">My Team: {{ team.teamName.toUpperCase() }}</h1>
          
          <div class="row mt-3">
            <div class="col-8">
              <h3 class="text-center">Team Name:</h3>
              <div class="input-group input-group-lg">
                <input type="text" class="form-control d-block" [(ngModel)]="team.teamName">
                <div class="input-group-append">
                  <button class="navbutton navL1 text-center" (click)="saveTeam()">Update Team Name</button>
                </div>
              </div>
            </div>
            <div class="col-4">
              <h3 class="text-center">Join Code:</h3>
              <p class="text-center">
                {{ team.teamCode }}
                <a matTooltip="Share this code with your fellow jammers to invite them to your team." class="tooltip-trigger">?</a>
              </p>
            </div>
          </div>

          
          <h2 class="text-center mt-3">Team Members</h2>
          <hr>
          <div class="row">
            <div class="col-3 m-2" *ngFor="let jammer of team.jammers">
              <div class="card text-center">
                <h3>{{ jammer.name }}</h3>
                <p><fa-icon [icon]="faEnvelope" class="mr-2"></fa-icon><a [href]="'mailto:' + jammer.email">{{ jammer.email }}</a></p>
                <p><fa-icon [icon]="faDiscord" class="mr-2"></fa-icon> {{ jammer.discordUsername ? jammer.discordUsername : 'None' }}</p>
                <p *ngIf="jammer.role && jammer.role === 'owner'">Team Leader</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="page == 'submission'" class="container container-lg p-3">
        <h1>My Submission</h1>
        <p>This section is still under construction</p>
      </div>

      <div *ngIf="page == 'feedback'" class="container container-lg p-3">
        <h1>Feedback from the Judges</h1>
        <p>This section is still under construction</p>
      </div>

      <!-- #endregion -->
    </div>

    <!-- #region SIDEBAR -->
    <div id="localHomeSideBar" class="col-2">
      <div class="p-2 mb-2">
        <div class="card text-center p-2 shadow">
          <fa-icon [icon]="faCoffee" class="fa-3x"></fa-icon>
          <p>Welcome to the new and improved GJ+ platform.</p>
          <p>support&#64;gamejamplus.com</p>
        </div>
      </div>

      <div class="p-2 mb-2">
        <div class="card text-center p-2 shadow">
          <img src="/assets/Images/cidev.png" style="width: 40%; margin: auto;">
          <p>Powered by CIDeV</p>
        </div>
      </div>

      <div class="p-2 mb-2">
        <div class="card text-center p-2 shadow">
          <fa-icon [icon]="faUsers" class="fa-3x"></fa-icon>
          <p><b>Special Thanks</b></p>
          <p>Sharon Chacón<br>David Pastor<br>Jeffry Cuendiz<br>Paulo Ávila</p>
        </div>
      </div>
    </div>
    <!-- #endregion -->
  </div>
</div>

<app-messages></app-messages>
