<div class="navbar">
  <div class="tabButton">
    <div class="btn btn-default crudButton" [ngClass]="{ 'active': page=='jams' }" (click)="selectPage('jams')">GameJams</div>
    <div class="btn btn-default crudButton" [ngClass]="{ 'active': page=='regions' }" (click)="selectPage('regions')">Regions</div>
    <div class="btn btn-default crudButton" [ngClass]="{ 'active': page=='sites' }" (click)="selectPage('sites')">Sites</div>
    <div class="btn btn-default crudButton" [ngClass]="{ 'active': page=='users' }" (click)="selectPage('users')">Users</div>
    <div class="btn btn-default crudButton" [ngClass]="{ 'active': page=='teams' }" (click)="selectPage('teams')">Teams</div>
  </div>
</div>
<div class="content">
  <div *ngIf="page=='jams'" class="card crudContent"><app-gamejam-crud></app-gamejam-crud></div>
  <div *ngIf="page=='regions'" class="card crudContent"><app-region-crud></app-region-crud></div>
  <div *ngIf="page=='sites'" class="card crudContent"><app-site-crud></app-site-crud></div>
  <div *ngIf="page=='users'" class="card crudContent"><app-user-crud></app-user-crud></div>
  <div *ngIf="page=='teams'" class="card crudContent"><app-team-crud></app-team-crud></div>
</div>
