<div class="m-5 shadow p-5 rounded">
  <h1>GameJam+ 2024/2025 Participation Rules and Regulations</h1>

  <h2>About the event</h2>
  <p>
    GameJamPlus is a collaborative, non-profit event. This is a game development marathon with a focus on planning games as a business. GameJamPlus' main goal is to grow the creative economy industry with new games and studios.
    The complete event of GameJamPlus has 4 distinct stages that make up the game development Event with a focus on not only developing a game, but also creating a business plan. This regulation refers to the rules and conditions of participation in the 1st stage of GameJamPlus 2024/2025, in order to ensure that our event is a success in all regions.
  </p>

  <h2>1st Stage of GameJamPlus 2024/2025</h2>
  <h3>General Provisions</h3>
  <ol type="1">
    <li>
      The Event, and all stages of the competition, including the GameJamPlus award events (“Event” or “Marathon”) are organized by STARTUP GRID COWORKING LTDA (“Global Organization”), based in Rio de Janeiro, Brazil.
      <ol type="a">
        <li>
          For the purposes of this Regulation, the First Stage is defined as the stage where participants must submit a Valid Project according to the guidelines.
        </li>
        <li>
          The GameJamPlus Global Organization is responsible for directing local organizers regarding the Event rules and needs.
        </li>
      </ol>
    </li>
    <li>
      In addition to the Global Organization, several Local Organizers are responsible for Venues across the world, and are generally responsible for organizing and managing it, as much as deciding local rules and guidelines following the general guidelines of the Global Organization.
    </li>
    <li>
      The First stage of GameJamPlus 2024/2025 will be held between October 18th and 20nd, 2024. Each GameJamPlus Local Organization may choose to organize their Game Jam virtually, in person or hybrid, and checking the modality and location is the responsibility of each participant.
    </li>
    <li>
      All stages require Valid Projects to be submitted on the official GJ+ platform, and not submitting will instantly have the Project out of the competition.
    </li>
    <li>
      A Valid Project will be considered a project that meets the following requirements:
      <ol type="a">
        <li>
          The project must follow the rules and guidelines of this document;
        </li>
        <li>
          The project must be delivered within the deadlines;
        </li>
        <li>
          The project must have a Game Build, available on the itch.io website;
        </li>
        <li>
          The project must have a Pitch available on YouTube;
        </li>
      </ol>
    </li>
  </ol>

  <h3>Terms and Rules of Participation</h3>
  <ol type="1">
    <li>
      Respecting mentors, participants and organizers is mandatory. Behaviors understood as acts of discrimination regarding gender, color, nationality, sexual orientation, religion, among others, will not be tolerated.
    </li>
    <li>
      Each Local Organization has its own rules, and by accepting this term the Participant agrees to be responsible for verifying these rules.
    </li>
    <li>
      Registration for the event has no mandatory charge from the Global Organization, however
      <ol type="a">
        <li>
          Local Organizations might charge for the tickets, and it is the Participant's responsibility to check locally the values and rules of their Local Organization.
        </li>
      </ol>
    </li>
    <li>
      To participate in the Competition it is necessary to register on the main platform of GameJamPlus (this platform).
    </li>
    <li>
      Registration is considered effective after confirmation of acceptance of registration by the Local Organization.
    </li>
    <li>
      The Global Organization has no restrictions on participants registered at venues, however
      <ol type="a">
        <li>
          Local Organizations may have their own rules and limitations regarding venue's number of participants, and the local decisions prevail regarding the topic.
        </li>
        <li>
          Local Organizations may have their own rules and limitations regarding the age of Participants at venues, and local decision prevails regarding the topic.
        </li>
        <li>
          Although there’s no Global restrictions on the participation of minors in the First Stage, such Participants are prohibited from receiving awards in the form of Travel to onsite events by the Global Organization, and Classification in the Acceleration stage by teams exclusively composed of minors.
        </li>
        <li>
          Local Organizations may have their own rules and limitations regarding the expertise of Participants, and local decision prevails regarding the topic
        </li>
      </ol>
    </li>
    <li>
      Local Organizers are forbidden to participate in teams during the first stage.
    </li>
    <li>
      It is mandatory to select a person responsible for representing the team, even if there is a subsequent change, since the teams register on the Event's official platform.
    </li>
    <li>
      The Global Organization has no restrictions regarding the formation of teams by Participants, however
      <ol type="a">
        <li>
          Local Organizations may have their own rules regarding the number of people per team, and the local decision prevails regarding the topic.
        </li>
        <li>
          Local Organizations may have their own rules regarding the level of expertise of team participants, and the local decision prevails regarding the topic.
        </li>
        <li>
          For onsite Events, participants must assume full responsibility for any and all items owned or in their possession during the Competition.
        </li>
      </ol>
    </li>
    <li>
      The Global Organization has no restrictions regarding programming languages, engines or mechanics, and does not restrict the use of any technology, assets or devices that do not break any other of the rules mentioned in this document.
      <ol type="a">
        <li>
          The Global Organization does not restrict the use of ready-made and/or paid assets during this stage.
        </li>
        <li>
          The Global Organization does not restrict the use of any game engine, graphic materials, audio files, etc., provided they hold the economic copyright or have obtained the necessary licenses for use.
        </li>
        <li>
          Local Organizations are free to have specific rules related to this topic, and it is the Participant's responsibility to verify permissions and duties locally. The decision of the Local Organization prevails on this topic.
        </li>
      </ol>
    </li>
    <li>
      The Global Organization and local Organizations will not assume responsibility for the legality of the materials used in productions, nor the software used by the Event participants to create them.
      <ol type="a">
        Local Organizations will also not be responsible for losses resulting from the use of illegal software or material by Participants during the Event.
      </ol>
    </li>
    <li>
      The Organizers have the right to disqualify a game and the participants who created it, especially if the content presented in it violates the law or fair practice or is inconsistent with GameJamPlus values.
    </li>
    <li>
      Local Organizations will not be responsible for technical problems that arise during the Event. Local Organizations are not responsible for the safety of any items belonging to participants,and/or for any injuries resulting from the fault of the participants in relation to their participation in the Event.
    </li>
    <li>
      Games must be developed exclusively and entirely during the event period, and projects may be disqualified at any stage of the process if premature development is proven, regardless of the team or country participating.
    </li>
    <li>
      It is prohibited to implement codes or algorithms that are potentially harmful to other users of the computer or other device on which the game is launched.
    </li>
    <li>
      The Global organization and local Organizations will not assume any responsibility for the legality of the materials used in the productions, nor the software used by the Event Participants to create them.
    </li>
    <li>
      The Organizers have the right to disqualify a game and the participants who created it, especially if the content presented in it violates the law or fair practice or is inconsistent with GameJamPlus values.
    </li>
    <li>
      The Organizers will not be responsible for technical problems and the safety of any items belonging to participants during the Event.
    </li>
    <li>
      The start and end of the Event will always be based on the local time zone.
      <ol type="a">
        <li>
          The event themes are released from 6pm local time, however Local Organizations decide opening times locally.
        </li>
        <li>
          Topics must not be posted before the start of the Event at all Locations.
        </li>
        <li>
          The Game must be sent by midnight local time on Sunday, October 20th, on the itch.io platform and on the official GameJamPlus platform. Schedule adjustments and postponements will only occur if it is a local decision.
        </li>
        <li>
          Pitch Submission is mandatory within 48 hours after game submission ends. Local Organizations may set different shipping times, and the Local Organization's decision prevails on this topic.
        </li>
      </ol>
    </li>
    <li>
      Participating on all stages requires making a valid submission on the platform, and agreeing in continuing at the competition.
      <ol type="a">
        <li>
          It is the responsibility of the team to submit the game with the updated build within the deadline of each stage. DO NOT CHANGE the game after the deadline.
        </li>
        <li>
          Submitting the form on time, but changing the build on the itch.io page after the deadline does not consist in a valid submission.
        </li>
      </ol>
    </li>
  </ol>

  <h3>Selection of Winners/Awards</h3>
  <ol type="1">
    <li>
      The First stage is not competitive for the Global Organization, and therefore does not have awards or elimination of functional projects for the next stage. Still, Local Organizations can hold internal competitions and prizes, and the local decision prevails regarding this topic.
    </li>
    <li>
      All teams that check their interest in changing stages will be accepted on the Incubation stage.
    </li>
    <li>
      To compete for the acceleration, the teams must make a Valid Submission at the GJ+ Official Platform, within the deadline.
    </li>
    <li>
      All games sent at the incubation will be evaluated and the 60 best ranked, separated by region, will compete at the acceleration stage. The best game of each region will win one trip for the finals.
      <ol type="a">
        <li>
          In case of countries that needs a Visa to come to Brazil, it is the responsibility of the winner to apply for it, to have the proper documentation before may, which is the month to buy all the tickets.
        </li>
        <li>
          GJ+ holds no responsibility over the visas, or costs of the jammer during the trip.
        </li>
        <li>
          Not applying on time will consist in passing the prize to another team.
        </li>
        <li>
          Jammers that doesn’t need the visa, but still don’t send their info for the trip on time, will also lose their rights to the travel.
        </li>
      </ol>
    </li>
    <li>
      After the acceleration, the teams must submit their games to the final evaluation on the official platform. All games that finish the Acceleration stage Submission will be considered Finalists.
      <ol type="a">
        <li>
          Being a finalist won’t grant any sort of prize instantly.
        </li>
        <li>
          It is not required to participate in the Final Event On Site.
        </li>
        <li>
          All teams are welcome to travel to the Finals by their own means.
        </li>
      </ol>
    </li>
  </ol>

  <h3>Intellectual Property</h3>
  <ol type="1">
    <li>
      Intellectual property and Copyright of the games submitted within GameJamPlus will be considered a publication under Creative Commons Attribution-NoDerivatives 4.0 International (CC BY-ND 4.0) license (Available Here), allowing the Competition Organizers to make available, publish or copy the submitted games in any media or format without editing or derivatives.
    </li>
    <li>
      The participant declares that the work created (or jointly created) by the participant does not infringe any rights of third parties and is the participant's own creation (or joint creation).
    </li>
    <li>
      The participant authorizes the Organizers to use materials related to the presentation of the created work (in particular screenshots, presentation or fragments thereof) for internal and promotional purposes, without time or territory limitations and without remuneration.
    </li>
  </ol>

  <h2>Processing of Personal Data</h2>
  <h3>About this privacy term</h3>
  <p>
    This Privacy Term is intended to communicate in a simple way what types of personal data will be collected, when, and in what way and for what purposes they will be used. The provisions contained in this Privacy Term are subject to continuous improvement and may be updated or modified, unilaterally or by law, with the user, or his legal guardian, if they’re a minor, having the duty to be aware of its content when accessing the Event's websites and system platforms. It is recommended reading this Term, for the purpose of updating and understanding your rights and obligations.
  </p>
  <h3>Personal data and the purpose of processing</h3>
  <ol type="1">
    <li>
      By accepting this term, the Participant agrees that the control of the data will be the responsibility of the Global Organization, and the sharing of Registration Form’s information will take place exclusively with the Local and Global Organizations.
    </li>
    <li>
      The information in the Registration Form is collected exclusively for contacts related to the Event, and will not be used for advertising and commercial purposes, among others, nor will it be transferred to third parties or other countries.
    </li>
    <li>
      The holder and/or their legal guardians are responsible for the updating, accuracy and veracity of the data provided to the Event. If errors are identified in registered information, Local Organizations may contact you to request clarifications and/or corrections, and will not be responsible for outdated data in their databases, as well as for the use, by the owner, of the environments for any illegal, illicit or contrary to morality purposes.
    </li>
    <li>
      Information is protected with security and confidentiality standards, to provide users with a safe and trustworthy environment through the use of encryption, digital certifications and controlled access.
    </li>
    <li>
      In case of the need of using third-party companies to process any data made available, they must comply with the rules stipulated in this Privacy Term, in the internal information and Communication Technology policies and in other current laws.
    </li>
  </ol>

  <h2>Final Provisions</h2>
  <ol type="1">
    <li>
      The GameJam+ Global Organization reserves the right to interrupt or cancel GameJamPlus and to change these rules, terms and conditions to the extent permitted by the current law.
    </li>
    <li>
      By participating in GameJamPlus, the participant acknowledges that they have examined the provisions of these rules and accepts them in full.
    </li>
    <li>
      Any violation of these rules, in particular the provision of inaccurate personal data, violation of fair practices or violation of applicable legal regulations, will give the Organizers the right to exclude the participant from involvement in the Event.
    </li>
  </ol>
</div>
