<div class="modal-content cardBackground">
    <div class="spinner-border" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="MHText">&times;</span>
        </button>
    </div>
    <div class="modal-body modalBodyFlex">
        <div class="row w-100 cardRowFormat">
            <div class="gameTitle">
                {{ dataSource.name }} - {{ dataSource.team }}
            </div>
            <div class="gameDescription">
                {{ dataSource.description }}
            </div>
        </div>
        <div class="row cardRowFormat">
            <a [href]="dataSource.gameLink" target="_blank" class="gameLinks">
                Game - {{ dataSource.gameLink }}
            </a>
            <a [href]="dataSource.pitchLink" target="_blank" class="gameLinks">
                Pitch - {{ dataSource.pitchLink }}
            </a>
        </div>
        <div class="row cardRowFormat">
            <div class="col">
                <div class="cardTitles">
                    Team members
                </div>
                <div *ngFor="let member of dataSource.teamMembers" class="row">
                    <div class="col cardFields">
                        {{ member.name }}
                    </div>
                    <div class="col cardFields">
                        {{ member.discordUsername }}
                    </div>
                    <div class="col cardFields">
                        {{ member.email }}
                    </div>
                </div>
            </div>

            <div class="col my-custom-margin"> 
                <div class="cardTitles">
                    Themes
                </div>
                <div *ngFor="let theme of dataSource.themes" class="cardFields">
                    {{ theme }}
                </div>
            </div>

            <div class="col my-custom-margin">
                <div class="cardTitles">
                    Categories
                </div>
                <div *ngFor="let category of dataSource.categories" class="cardFields">
                    {{ category }}
                </div>
            </div>
        </div>
        <div *ngIf="ActualUserIsJuez" class="col btn btn-primary evaluationButton" (click)="evaluando = !evaluando">
            Show evaluation form
        </div>

        <div *ngIf="ActualUserIsJuez && evaluando">
            <app-rate-form [game]="gameParameter"></app-rate-form>
        </div>

    </div>
</div>
