<!--
<div *ngIf="loading">
  <div class="warning p-5 text-center m-5">
    <p>The system is loading your site's information, please wait...</p>
  </div>
</div>
-->

<div>

  <!-- #region NO REGION -->
  <div *ngIf="!user.region" class="warning p-5 text-center m-2">
    <p>You haven't been assigned to a region, please select your region to proceed.</p>
    <p>NOTE: this action is not reversible, get in touch with a Global Organizer if you require to change your region.</p>

    <button *ngFor="let region of regions" type="button" class="btn btn-primary m-1" (click)="selectRegion(region)">{{ region.name }}</button>
  </div>
  <!-- #endregion -->

  <!-- #region NO SITE -->
  <div *ngIf="user.region && !user.site" class="warning p-5 text-center m-2">
    <p>You haven't been assigned to a site. Please create your site or join another site as co-organizer.</p>
    <p>NOTE: this action is not reversible, get in touch with a Global Organizer if you require to change your site.</p>

    <button type="button" class="btn btn-primary m-1" (click)="createNewSite()">Create new site</button>

    <hr>

    <p>Or join an existing site (ask the site's organizer of the secret code)</p>
    <div class="row mb-2">
      <div class="col-3 p-2" *ngFor="let site of sites">
        <div class="card text-center p-2 shadow">
          <h3>{{ site.name }}</h3>
          <p><b>Country:</b> {{ site.country.code }} - {{ site.country.name }}</p>
          <p><b>City:</b> {{ site.city }}</p>
          <p><b>Modality:</b> {{ site.modality }}</p>
          <button class="btn btn-black" (click)="joinSite(site)">JOIN SITE</button>
        </div>
      </div>
    </div>
  </div>
  <!-- #endregion -->

  <!-- LOCAL HOME -->
  <div *ngIf="user.region && user.site" class="row w-100 p-3">

    <div class="p-3 mb-2 darkbg d-block text-white text-center timer">{{ deltaTime }}</div>

    <!-- #region NAV BAR -->
    <div id="localHomeNavBar" class="col-2 container-fluid">
      <div class="navbutton navL1" data-toggle="collapse" data-target="#homeMenu">Home</div>
      <ul #homeMenu id="homeMenu" class="collapse">
        <li class="navbutton navL2" (click)="page = 'jam'">GJ+</li>
        <li class="navbutton navL2" (click)="page = 'calendar'">Event Calendar</li>
        <!--<li class="navbutton navL2" (click)="page = 'news'">Notifications</li>-->
      </ul>

      <div class="navbutton navL1" data-toggle="collapse" data-target="#venueMenu">My Venue</div>
      <ul #venueMenu id="venueMenu" class="collapse">
        <li class="navbutton navL2" (click)="page = 'site'">Site Information</li>
        <li class="navbutton navL2" (click)="page = 'organizers'">My Staff</li>
        <li class="navbutton navL2" (click)="page = 'jammers'">Jammers and Teams</li>
        <li class="navbutton navL2" (click)="page = 'games'">Submissions</li>
        <li class="navbutton navL2" (click)="page = 'fellows'">Fellowship</li>
      </ul>

      <div class="navbutton navL1" (click)="page = 'rules'">Rules and Conditions</div>
    </div>
    <!-- #endregion -->

    <div id="localHomeMainContent" class="col-8">
      <!-- #region HOME -->
      <div *ngIf="page == 'jam'" class="container container-lg p-3">
        <div *ngIf="!jam">
          <h1>JOIN A GAME JAM</h1>
          <p class="warning">This site is not linked to an open gamejam. Join to a gamejam below to start managing your site.</p>
          <div class="row">
            <div class="col-4 card" *ngFor="let gj of jams">
              <h3 class="text-center">{{gj.title}}</h3>
              <div class="row" *ngFor="let stage of gj.stages">
                <div class="col-4"><b>{{ stage.stageName }}</b></div>
                <div class="col-8">{{ stage.startDate | date: 'dd/MM/yyyy' }} - {{ stage.endDate | date: 'dd/MM/yyyy' }}</div>
              </div>
              <button class="navbutton navL1" (click)="joinJam(gj)">JOIN</button>
            </div>
          </div>
        </div>

        <div *ngIf="jam && site">
          <h1 class="text-center">{{jam.title}}</h1>

          <hr class="my-4">

          <div class="info d-block text-center p-5 mb-5" *ngIf="!jam.public">
            <p>Themes and categories are secret.</p>
            <p>Global Organizers will publish the themes and categories soon, check again later.</p>
          </div>

          <!-- THEMES -->
          <div class="row" *ngIf="jam.public">
            <h2 class="col-12 text-center">Themes</h2>
            <div class="col-md-4 p-2" *ngFor="let theme of jam.themes">
              <div class="card p-2 minh-2">
                <h3 *ngIf="site.language == 'PT'" class="text-center">{{ theme.titlePT }}</h3>
                <h3 *ngIf="site.language == 'ES'" class="text-center">{{ theme.titleES }}</h3>
                <h3 *ngIf="site.language == 'EN'" class="text-center">{{ theme.titleEN }}</h3>

                <p *ngIf="site.language == 'PT'" class="maxh-1 scroll p-2">{{ theme.descriptionPT }}</p>
                <p *ngIf="site.language == 'ES'" class="maxh-1 scroll p-2">{{ theme.descriptionES }}</p>
                <p *ngIf="site.language == 'EN'" class="maxh-1 scroll p-2">{{ theme.descriptionEN }}</p>

                <span style="flex-grow: 1;"></span>

                <a *ngIf="site.language == 'PT'" href="{{ theme.manualPT }}" class="btn btn-black align-bottom">Manual</a>
                <a *ngIf="site.language == 'ES'" href="{{ theme.manualES }}" class="btn btn-black align-bottom">Manual</a>
                <a *ngIf="site.language == 'EN'" href="{{ theme.manualEN }}" class="btn btn-black align-bottom">Manual</a>
              </div>
            </div>
          </div>

          <hr *ngIf="jam.public" class="my-4">

          <!-- CATEGORIES -->
          <div class="row" *ngIf="jam.public">
            <h2 class="col-12 text-center">Categories</h2>
            <div class="col-md-4 p-2" *ngFor="let category of jam.categories">
              <div class="card p-2 minh-2">
                <h3 *ngIf="site.language == 'PT'" class="text-center">{{ category.titlePT }}</h3>
                <h3 *ngIf="site.language == 'ES'" class="text-center">{{ category.titleES }}</h3>
                <h3 *ngIf="site.language == 'EN'" class="text-center">{{ category.titleEN }}</h3>

                <p *ngIf="site.language == 'PT'" class="maxh-1 scroll p-2">{{ category.descriptionPT }}</p>
                <p *ngIf="site.language == 'ES'" class="maxh-1 scroll p-2">{{ category.descriptionES }}</p>
                <p *ngIf="site.language == 'EN'" class="maxh-1 scroll p-2">{{ category.descriptionEN }}</p>

                <span style="flex-grow: 1;"></span>

                <a *ngIf="site.language == 'PT'" href="{{ category.manualPT }}" class="btn btn-black align-bottom">Manual</a>
                <a *ngIf="site.language == 'ES'" href="{{ category.manualES }}" class="btn btn-black align-bottom">Manual</a>
                <a *ngIf="site.language == 'EN'" href="{{ category.manualEN }}" class="btn btn-black align-bottom">Manual</a>
              </div>
            </div>
          </div>

          <hr class="my-4">

          <!-- STAGES -->
          <div class="row pb-3 align-items-end">
            <h2 class="col-12 text-center">Stages<a matTooltip="All stages start at 00:00:00 and end at 11:59:59 in Brazilian Time (GMT-3)." class="tooltip-trigger">?</a></h2>
            <div class="col-3 p-2" *ngFor="let stage of jam.stages">
              <div [ngClass]="getStageClass(stage)">
                <h3 class="text-center">{{ stage.stageName }}</h3>
                <p class="text-center">{{ formatDate(stage.startDate) }} - {{ formatDate(stage.endDate) }}</p>
                <p class="text-center" *ngIf="isCurrentStage(stage)">Current Stage</p>
              </div>
            </div>
          </div>

          <hr class="my-4">

          <!-- TOOLBOX -->
          <div class="row pb-3 align-items-end">
            <h2 class="col-12 text-center">Toolbox</h2>
            <div class="col-4 p-2 pointer" (click)="goTo(jam.toolboxGuides)">
              <div class="card p-2">
                <div class="text-center">
                  <fa-icon [icon]="faCircleInfo" class="fa-5x"></fa-icon>
                </div>
                <h3 class="text-center">Guides</h3>
              </div>
            </div>

            <div class="col-4 p-2 pointer" (click)="goTo(jam.toolboxArts)">
              <div class="card p-2">
                <div class="text-center">
                  <fa-icon [icon]="faPalette" class="fa-5x"></fa-icon>
                </div>
                <h3 class="text-center">Arts</h3>
              </div>
            </div>

            <div class="col-4 p-2 pointer" (click)="goTo(jam.toolboxPresentations)">
              <div class="card p-2">
                <div class="text-center">
                  <fa-icon [icon]="faFilePowerpoint" class="fa-5x"></fa-icon>
                </div>
                <h3 class="text-center">Presentations</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="page == 'calendar'" class="container container-lg p-3">
        <h1>EVENT CALENDAR</h1>
        <p>This section is still under construction</p>
      </div>

      <div *ngIf="page == 'news'" class="container container-lg p-3">
        <h1>NOTIFICATIONS</h1>
        <p>This section is still under construction</p>
      </div>
      <!-- #endregion -->

      <!-- #region VENUE -->
      <div *ngIf="page == 'site' && site" class="container container-lg p-3">
        <h1 class="text-center">{{ site!.name.toUpperCase() }}</h1>
        <div class="row">
          <div class="col-4">
            <h3 class="text-center">Region:</h3>
            <p class="text-center">{{ user.region.name }}</p>
          </div>

          <div class="col-4">
            <h3 class="text-center">Country:</h3>
            <p class="text-center">{{ site.country.code }} - {{ site.country.name }}</p>
          </div>

          <div class="col-4">
            <h3 class="text-center">Join Code:</h3>
            <p class="text-center">
              {{ site.code }}
              <a matTooltip="Share this code with other venue organizers so they can access your venue's dashboard." class="tooltip-trigger">?</a>
            </p>
          </div>
        </div>

        <hr class="my-4">

        <form (submit)="saveSite()" [formGroup]="siteForm" class="row">

          <div class="col-12 input-group input-group-lg mb-3">
            <div class="input-group-prepend"><span class="input-group-text required">Site Name</span></div>
            <input type="text" class="form-control" id="siteName" formControlName="name">
          </div>

          <div class="col-6">
            <h3>Venue Main Info</h3>
            <hr>
            <div class="input-group"> <!--COUNTRY-->
              <div class="input-group-prepend"><span class="input-group-text required">Country</span></div>
              <select class="form-control formList" id="countries" formControlName="country">
                <option value="" disabled selected hidden>Country of the site</option>
                <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
              </select>
            </div>

            <div class="input-group"> <!--CITY-->
              <div class="input-group-prepend"><span class="input-group-text required">City</span></div>
              <input type="text" class="form-control" id="siteCity" formControlName="city">
            </div>

            <div class="input-group"> <!--ADDRESS-->
              <div class="input-group-prepend">
                <span class="input-group-text">
                  Address
                  <a matTooltip="If your venue has a physical location, specify the address." class="tooltip-trigger">?</a>
                </span>
              </div>
              <input type="text" class="form-control" id="siteAddress" formControlName="address">
            </div>

            <div class="input-group"> <!--SERVER-->
              <div class="input-group-prepend">
                <span class="input-group-text">
                  Server
                  <a matTooltip="An URL to your virtual venue if any (discord server, whatsapp group, telegram group, or any other that applies)" class="tooltip-trigger">?</a>
                </span>
              </div>
              <input type="text" class="form-control" id="siteServer" formControlName="server">
            </div>

            <h3 class="mt-3">Contact Info</h3>
            <hr>

            <div class="input-group input-group-sm"> <!--SERVER-->
              <div class="input-group-prepend"><span class="input-group-text">Email</span></div>
              <input type="email" class="form-control" id="siteEmail" formControlName="email">
            </div>

            <div class="input-group input-group-sm"> <!--PHONE-->
              <div class="input-group-prepend"><span class="input-group-text">Phone Number</span></div>
              <input type="tel" class="form-control" id="sitePhone" formControlName="phoneNumber">
            </div>

            <div class="input-group input-group-sm"> <!--LINK-->
              <div class="input-group-prepend"><span class="input-group-text">Link/Website</span></div>
              <input type="url" class="form-control" id="siteWebsite" formControlName="website">
            </div>

          </div>

          <div class="col-6">
            <h3>Venue Options</h3>
            <hr>

            <div class="input-group"> <!--STATUS-->
              <div class="input-group-prepend">
                <span class="input-group-text">
                  Status
                  <a matTooltip="Is your venue open for new jammers to sign in?" class="tooltip-trigger">?</a>
                </span>
              </div>
              <select class="form-select" formControlName="open">
                <option [value]="true">Open</option>
                <option [value]="false">Closed</option>
              </select>
            </div>

            <div class="input-group"> <!--MODALITY-->
              <div class="input-group-prepend"><span class="input-group-text">Modality</span></div>
              <select class="form-select" formControlName="modality">
                <option value="on site">On Site</option>
                <option value="online">Online</option>
                <option value="hybrid">Hybrid</option>
              </select>
            </div>

            <div class="input-group"> <!--LANGUAGE-->
              <div class="input-group-prepend">
                <span class="input-group-text">
                  Language
                  <a matTooltip="GameJam+ supports three official languages: Português, Español (limited support), and English (limited support)" class="tooltip-trigger">?</a>
                </span>
              </div>
              <select class="form-select" formControlName="language">
                <option value="PT">Português (PT)</option>
                <option value="ES">Español (ES)</option>
                <option value="EN">English (EN)</option>
              </select>
            </div>

            <div class="input-group input-group"> <!--START TIME-->
              <div class="input-group-prepend"><span class="input-group-text">Start time</span></div>
              <input type="time" class="form-control" id="siteStartTime" formControlName="startTime">
            </div>

            <h3 class="mt-3">Social Media</h3>
            <hr>

            <div class="input-group input-group-sm"> <!--INSTAGRAM-->
              <div class="input-group-prepend"><span class="input-group-text">Instagram</span></div>
              <input type="url" class="form-control" id="siteInstagram" formControlName="instagram">
            </div>

            <div class="input-group input-group-sm"> <!--WHATSAPP-->
              <div class="input-group-prepend"><span class="input-group-text">Whatsapp</span></div>
              <input type="url" class="form-control" id="siteWhatsapp" formControlName="whatsapp">
            </div>

            <div class="input-group input-group-sm"> <!--DISCORD-->
              <div class="input-group-prepend"><span class="input-group-text">Discord</span></div>
              <input type="url" class="form-control" id="siteDiscord" formControlName="discord">
            </div>
          </div>

          <div class="col-12 mt-3">
            <h3>Description and Instructions</h3>
            <hr>
            <editor
              apiKey="no-api-key"
              licenseKey="gpl"
              [init]="init"
              formControlName="description"
            ></editor>
            <!--
            <div class="form-group">
              <small class="form-text text-muted my-2">Include any additional description and information about your venue like special instructions, address, requirements, etc... This information will be visible <b>only to your site's jammers</b>.</small>
              <textarea rows="20" class="form-control" formControlName="description" placeholder="Site Description"></textarea>
            </div>-->
          </div>

          <button type="submit" class="navbutton navL1 flex-center m-3">SAVE CHANGES</button>
        </form>
      </div>

      <div *ngIf="page == 'jammers'" class="container container-lg p-3">
        <div class="d-flex">
          <div class="mr-auto">
            <h1>JAMMERS: {{ jammers.length }}</h1>
            <h2>TEAMS: {{ teamCount }}</h2>
          </div>

          <button class="btn btn-black align-right mr-1" (click)="exportJammers()">
            <fa-icon [icon]="faFileCsv" class="fa-2x"></fa-icon><br>
            Export Jammers
          </button>

          <button class="btn btn-black align-right" data-toggle="modal" data-target="#jammersModal">
            <fa-icon [icon]="faUsers" class="fa-2x"></fa-icon><br>
            Import Jammers
          </button>
        </div>

        <hr>

        <table class="table table-stripped rounded">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Discord</th>
              <th scope="col">Team</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let jammer of jammers; index as j" [ngClass]="getJammerRowColor(jammer)">
              <th scope="row">{{ j + 1 }}</th>
              <td>{{ jammer.name }}</td>
              <td><a [href]="'mailto:'+jammer.email">{{ jammer.email }}</a></td>
              <td>{{ jammer.discordUsername }}</td>
              <td>{{ jammer.team ? jammer.team.name : 'NO TEAM' }}</td>
              <td><button class="btn btn-danger" (click)="kickJammer(jammer)">Kick</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="page == 'games'" class="container container-lg p-3">
        <h1>SUBMISSIONS</h1>
        <p>Submission list and tools</p>
      </div>

      <div *ngIf="page == 'organizers'" class="container container-lg p-3">
        <h1>MY STAFF</h1>
        <div class="row">
          <div class="col-3 p-2 text-center" *ngFor="let member of staff">
            <div class="card p-2">
              <fa-icon [icon]="faUser" class="fa-2x"></fa-icon>
              <h3>{{ member.name }}</h3>
              <p><fa-icon [icon]="faEnvelope"></fa-icon> <a [href]="'mailto:' + member.email" class="ml-2">{{ member.email }}</a></p>
              <p><fa-icon [icon]="faDiscord"></fa-icon> {{ member.discordUsername ? member.discordUsername : 'None' }}</p>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="page == 'fellows'" class="container container-lg p-3">
        <h1>MY FELLOWSHIP</h1>
        <p>This section is still under construction</p>
      </div>
      <!-- #endregion -->

      <div *ngIf="page == 'rules'" class="container container-lg p-3">
        <app-rules></app-rules>
      </div>
    </div>

    <!-- #region SIDEBAR -->
    <div id="localHomeSideBar" class="col-2">

      <div class="p-2 mb-2">
        <div class="card text-center p-2 shadow">
          <fa-icon [icon]="faCoffee" class="fa-3x"></fa-icon>
          <p>Welcome to the new and improved GJ+ platform.</p>
          <p><a href="mailto:support@gamejamplus.com">support&#64;gamejamplus.com</a></p>
        </div>
      </div>

      <div class="p-2 mb-2">
        <div class="card text-center p-2 shadow">
          <fa-icon [icon]="faJar" class="fa-3x"></fa-icon>
          <span><b>Venues:</b> {{ jamData.siteCount }}</span>
          <span><b>Countries:</b> {{ jamData.countryCount }}</span>
          <span><b>Jammers:</b>  {{ jamData.jammerCount }}</span>
          <span><b>Teams:</b> {{ jamData.teamCount }} <br></span>
          <span><b>Submissions:</b> {{ jamData.submissionCount }}</span>
          <span class="mb-2"></span>
        </div>
      </div>

      <div class="p-2 mb-2">
        <div class="card text-center p-2 shadow">
          <img src="/assets/Images/cidev.png" style="width: 40%; margin: auto;">
          <p>Powered by CIDeV</p>
        </div>
      </div>

      <div class="p-2 mb-2">
        <div class="card text-center p-2 shadow">
          <fa-icon [icon]="faUsers" class="fa-3x"></fa-icon>
          <p><b>Special Thanks</b></p>
          <p>Sharon Chacón<br>David Pastor<br>Jeffry Cuendiz<br>Paublo Ávila</p>
        </div>
      </div>
    </div>
    <!-- #endregion -->
  </div>
</div>

<!-- #region ADD JAMMERS MODAL -->
<div class="modal fade" id="jammersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" *ngIf="!bulkResult">
      <div class="modal-header">
        <h5 class="modal-title">Add Jammers in Bulk</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row m-2">
        <div class="col-12 warning p-2 mb-2 text-center">
          <p>
            Use this form to add new jammers into the system.<br>
            Each jammer in a new line following this structure:
          </p>
          <p class="info mx-5 p-2">
            Jammer Name, Jammer Email, Discord Username, Team Name
          </p>
          <p>If the jammer has no team, use the value 'None'</p>
        </div>

        <textarea class="col-12" rows="10" #jammerInfo placeholder="Jammer Name, Jammer Email, Discord Username, Team Name"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="importJammers(jammerInfo.value)">Save changes</button>
      </div>
    </div>

    <div class="modal-content" *ngIf="bulkResult">
      <div class="modal-header">
        <h5 class="modal-title">Bulk process result</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row m-2">
        <table class="table col-12">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Discord</th>
              <th scope="col">Team</th>
              <th scope="col">Processed</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of bulkResult; index as r" [ngClass]="{ 'table-success' : record.process, 'table-danger' : !record.process }">
              <th scope="row">{{ r }}</th>
              <td>{{ record.name }}</td>
              <td>{{ record.email }}</td>
              <td>{{ record.discord }}</td>
              <td>{{ record.teamName }}</td>
              <td>{{ record.process ? 'YES' : 'NO' }}</td>
              <td>{{ record.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="reload()">Accept</button>
      </div>
    </div>
  </div>
</div>
<!-- #endregion -->

<app-messages></app-messages>
