<div>
  <!-- #region NO REGION -->
  <div *ngIf="!user.region" class="warning p-5 text-center m-2">
    <p>You haven't been assigned to a region, please select your region to proceed.</p>
    <p>NOTE: this action is not reversible, get in touch with a Global Organizer if you require to change your region.</p>

    <button *ngFor="let region of regions" type="button" class="btn btn-primary m-1" (click)="selectRegion(region)">{{ region.name }}</button>
  </div>
  <!-- #endregion -->

  <!-- #region NO SITE -->
  <div *ngIf="user.region && !user.site" class="warning p-5 text-center m-2">
    <p>You haven't been assigned to a site. Please create your site or join another site as co-organizer.</p>
    <p>NOTE: this action is not reversible, get in touch with a Global Organizer if you require to change your site.</p>

    <button type="button" class="btn btn-primary m-1" (click)="createNewSite()">Create new site</button>

    <hr>

    <p>Or join an existing site (ask the site's organizer of the secret code)</p>
    <div class="row mb-2">
      <div class="col-3 p-2" *ngFor="let site of sites">
        <div class="card text-center p-2 shadow">
          <h3>{{ site.name }}</h3>
          <p><b>Country:</b> {{ site.country.code }} - {{ site.country.name }}</p>
          <p><b>City:</b> {{ site.city }}</p>
          <p><b>Modality:</b> {{ site.modality }}</p>
          <button class="btn btn-primary" (click)="joinSite(site)">JOIN SITE</button>
        </div>
      </div>
    </div>
  </div>
  <!-- #endregion -->

  <!-- LOCAL HOME -->
  <div *ngIf="user.region && user.site" class="row w-100 p-3">

    <div class="p-3 mb-2 bg-dark d-block text-white text-center timer">{{ deltaTime }}</div>

    <!-- #region NAV BAR -->
    <div id="localHomeNavBar" class="col-2 container-fluid">
      <div class="navbutton navL1" data-toggle="collapse" data-target="#homeMenu">Home</div>
      <ul #homeMenu id="homeMenu" class="collapse">
        <li class="navbutton navL2" (click)="page = 'jam'">GJ+</li>
        <li class="navbutton navL2" (click)="page = 'calendar'">Event Calendar</li>
        <!--<li class="navbutton navL2" (click)="page = 'news'">Notifications</li>-->
      </ul>

      <div class="navbutton navL1" data-toggle="collapse" data-target="#venueMenu">My Venue</div>
      <ul #venueMenu id="venueMenu" class="collapse">
        <li class="navbutton navL2" (click)="page = 'site'">Site Information</li>
        <li class="navbutton navL2" (click)="page = 'organizers'">My Staff</li>
        <li class="navbutton navL2" (click)="page = 'jammers'">Jammers and Teams</li>
        <li class="navbutton navL2" (click)="page = 'games'">Submissions</li>
        <li class="navbutton navL2" (click)="page = 'fellows'">Fellowship</li>
      </ul>
    </div>
    <!-- #endregion -->

    <div id="localHomeMainContent" class="col-8">
      <!-- #region HOME -->
      <div *ngIf="page == 'jam'" class="container container-lg p-3">
        <div *ngIf="!jam">
          <h1>JOIN A GAME JAM</h1>
          <p class="warning">This site is not linked to an open gamejam. Join to a gamejam below to start managing your site.</p>
          <div class="row">
            <div class="col-4 card" *ngFor="let gj of jams">
              <h3 class="text-center">{{gj.title}}</h3>
              <div class="row" *ngFor="let stage of gj.stages">
                <div class="col-4"><b>{{ stage.stageName }}</b></div>
                <div class="col-8">{{ stage.startDate | date: 'dd/MM/yyyy' }} - {{ stage.endDate | date: 'dd/MM/yyyy' }}</div>
              </div>
              <button class="navbutton navL1" (click)="joinJam(gj)">JOIN</button>
            </div>
          </div>
        </div>

        <div *ngIf="jam && site">
          <h1 class="text-center">{{jam.title}}</h1>

          <hr class="my-4">

          <div class="info d-block text-center p-5 mb-5" *ngIf="!jam.public">
            <p>Themes and categories are secret.</p>
            <p>Global Organizers will publish the themes and categories soon, check again later.</p>
          </div>

          <!-- THEMES -->
          <div class="row" *ngIf="jam.public">
            <h2 class="col-12 text-center">Themes</h2>
            <div class="col-4 p-2" *ngFor="let theme of jam.themes">
              <div class="card p-2">
                <h3 *ngIf="site.language == 'PT'" class="text-center">{{ theme.titlePT }}</h3>
                <h3 *ngIf="site.language == 'ES'" class="text-center">{{ theme.titleES }}</h3>
                <h3 *ngIf="site.language == 'EN'" class="text-center">{{ theme.titleEN }}</h3>

                <p *ngIf="site.language == 'PT'">{{ theme.descriptionPT }}</p>
                <p *ngIf="site.language == 'ES'">{{ theme.descriptionES }}</p>
                <p *ngIf="site.language == 'EN'">{{ theme.descriptionEN }}</p>

                <a *ngIf="site.language == 'PT'" href="{{ theme.manualPT }}" class="navbutton navL1 my-2">Manual</a>
                <a *ngIf="site.language == 'ES'" href="{{ theme.manualES }}" class="navbutton navL1 my-2">Manual</a>
                <a *ngIf="site.language == 'EN'" href="{{ theme.manualEN }}" class="navbutton navL1 my-2">Manual</a>
              </div>
            </div>
          </div>

          <hr *ngIf="jam.public" class="my-4">

          <!-- CATEGORIES -->
          <div class="row" *ngIf="jam.public">
            <h2 class="col-12 text-center">Categories</h2>
            <div class="col-4 p-2" *ngFor="let category of jam.categories">
              <div class="card p-2">
                <h3 *ngIf="site.language == 'PT'" class="text-center">{{ category.titlePT }}</h3>
                <h3 *ngIf="site.language == 'ES'" class="text-center">{{ category.titleES }}</h3>
                <h3 *ngIf="site.language == 'EN'" class="text-center">{{ category.titleEN }}</h3>

                <p *ngIf="site.language == 'PT'">{{ category.descriptionPT }}</p>
                <p *ngIf="site.language == 'ES'">{{ category.descriptionES }}</p>
                <p *ngIf="site.language == 'EN'">{{ category.descriptionEN }}</p>

                <a *ngIf="site.language == 'PT'" href="{{ category.manualPT }}" class="navbutton navL1 my-2">Manual</a>
                <a *ngIf="site.language == 'ES'" href="{{ category.manualES }}" class="navbutton navL1 my-2">Manual</a>
                <a *ngIf="site.language == 'EN'" href="{{ category.manualEN }}" class="navbutton navL1 my-2">Manual</a>
              </div>
            </div>
          </div>

          <hr class="my-4">

          <!-- STAGES -->
          <div class="row pb-3 align-items-end">
            <h2 class="col-12 text-center">Stages</h2>
            <div class="col-3 p-2" *ngFor="let stage of jam.stages">
              <div [ngClass]="getStageClass(stage)">
                <h3 class="text-center">{{ stage.stageName }}</h3>
                <p class="text-center">{{ stage.startDate | date: 'dd/MM/yyyy' }} - {{ stage.endDate | date: 'dd/MM/yyyy' }}</p>
                <p class="text-center" *ngIf="isCurrentStage(stage)">Current Stage</p>
              </div>
            </div>
          </div>

          <hr class="my-4">

          <!-- TOOLBOX -->
          <div class="row pb-3 align-items-end">
            <h2 class="col-12 text-center">Toolbox</h2>
            <div class="col-4 p-2 pointer" (click)="goTo(jam.toolboxGuides)">
              <div class="card p-2">
                <div class="text-center">
                  <fa-icon [icon]="faCircleInfo" class="fa-5x"></fa-icon>
                </div>
                <h3 class="text-center">Guides</h3>
              </div>
            </div>

            <div class="col-4 p-2 pointer" (click)="goTo(jam.toolboxArts)">
              <div class="card p-2">
                <div class="text-center">
                  <fa-icon [icon]="faPalette" class="fa-5x"></fa-icon>
                </div>
                <h3 class="text-center">Arts</h3>
              </div>
            </div>

            <div class="col-4 p-2 pointer" (click)="goTo(jam.toolboxPresentations)">
              <div class="card p-2">
                <div class="text-center">
                  <fa-icon [icon]="faFilePowerpoint" class="fa-5x"></fa-icon>
                </div>
                <h3 class="text-center">Presentations</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="page == 'calendar'" class="container container-lg p-3">
        <h1>EVENT CALENDAR</h1>
        <p>This section is still under construction</p>
      </div>

      <div *ngIf="page == 'news'" class="container container-lg p-3">
        <h1>NOTIFICATIONS</h1>
        <p>This section is still under construction</p>
      </div>
      <!-- #endregion -->

      <!-- #region VENUE -->
      <div *ngIf="page == 'site' && site" class="container container-lg p-3">
        <h1 class="text-center">{{ site!.name.toUpperCase() }}</h1>
        <div class="row">
          <div class="col-4">
            <h3 class="text-center">Region:</h3>
            <p class="text-center">{{ user.region.name }}</p>
          </div>

          <div class="col-4">
            <h3 class="text-center">Country:</h3>
            <p class="text-center">{{ site.country?.code }} - {{ site.country?.name }}</p>
          </div>

          <div class="col-4">
            <h3 class="text-center">Join Code:</h3>
            <p class="text-center">{{ site.code }}</p>
            <small class="form-text text-muted my-2">Share this code with other venue organizers so they can access your venue's dashboard.</small>
          </div>
        </div>

        <hr class="my-4">

        <form (submit)="saveSite()" [formGroup]="siteForm" class="row">

          <div class="col-6">
            <h3>Basic & Contact Information</h3>

            <div class="form-group">
              <label for="siteName" class="required">Site Name</label>
              <input type="text" class="form-control" id="siteName" formControlName="name">
            </div>

            <div class="form-group">
              <label for="siteName" class="required">Site Country</label>
              <select class="form-control formList" id="countries" formControlName="country">
                <option value="" disabled selected hidden>Country of the site</option>
                <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="siteCity" class="required">Site City</label>
              <input type="text" class="form-control" id="siteCity" formControlName="city">
            </div>

            <div class="form-group">
              <label for="siteEmail">Site Email</label>
              <input type="email" class="form-control" id="sitePhone" formControlName="email" placeholder="info@your.venue.com">
              <small class="form-text text-muted">An official email address for your venue. This address will be visible to jammers and other organizers.</small>
            </div>

            <div class="form-group">
              <label for="sitePhone">Phone Number</label>
              <input type="tel" class="form-control" id="sitePhone" formControlName="phoneNumber" placeholder="+55 21 98765-4321">
              <small class="form-text text-muted">An official phone number for your venue. This number will be visible to jammers and other organizers. Remember to include your country/area code.</small>
            </div>

            <div class="form-group">
              <label for="siteAddress">Venue Address</label>
              <input type="text" class="form-control" id="siteAddress" formControlName="address" placeholder="Venue address">
              <small class="form-text text-muted">If your venue has a physical location, specify the address.</small>
            </div>

            <div class="form-group">
              <label for="siteServer">Online Server</label>
              <input type="text" class="form-control" id="siteServer" formControlName="server" placeholder="https://discord.gg/mySiteURL">
              <small class="form-text text-muted">An URL to your virtual venue if any (discord server, whatsapp group, telegram group, or any other that applies)</small>
            </div>
          </div>

          <div class="col-6">
            <h3>Options</h3>
            <div class="form-group">
              <label for="sitePhone" class="required">Site Modality</label>
              <div class="form-check">
                <input type="radio" class="form-check-input" value="on site" name="modality" formControlName="modality">
                <label class="form-check-label" for="modality">On Site</label>
              </div>

              <div class="form-check">
                <input type="radio" class="form-check-input" value="online" name="modality" formControlName="modality">
                <label class="form-check-label" for="modality">Online</label>
              </div>

              <div class="form-check">
                <input type="radio" class="form-check-input" value="hybrid" name="modality" formControlName="modality">
                <label class="form-check-label" for="modality">Hybrid</label>
              </div>

              <small class="form-text text-muted">Is your venue on site, online, or both?</small>
            </div>

            <div class="form-group">
              <label for="sitePhone" class="required">Site Status</label>
              <div class="form-check">
                <input type="radio" class="form-check-input" [value]="true" name="open" formControlName="open">
                <label class="form-check-label" for="open">Open</label>
              </div>

              <div class="form-check">
                <input type="radio" class="form-check-input" [value]="false" name="open" formControlName="open">
                <label class="form-check-label" for="open">Closed</label>
              </div>

              <small class="form-text text-muted">Is your site open for new jammers to sign up?</small>
            </div>

            <div class="form-group">
              <label for="sitePhone">Site Language</label>
              <div class="form-check">
                <input type="radio" class="form-check-input" value="PT" name="language" formControlName="language">
                <label class="form-check-label" for="open">Português (PT)</label>
              </div>

              <div class="form-check">
                <input type="radio" class="form-check-input" value="ES" name="language" formControlName="language">
                <label class="form-check-label" for="open">Español (ES)</label>
              </div>

              <div class="form-check">
                <input type="radio" class="form-check-input" value="EN" name="language" formControlName="language">
                <label class="form-check-label" for="open">English (EN)</label>
              </div>

              <small class="form-text text-muted">GameJam+ supports three official languages:
                <ul>
                  <li>Portuguese (main)</li>
                  <li>Spanish (limited support)</li>
                  <li>English (limited support)</li>
                </ul>
                If your site supports another language, please add it to your site's description.
              </small>
            </div>
          </div>

          <div class="col-12">
            <h3>Description and Instructions</h3>
            <editor
              apiKey="no-api-key"
              licenseKey="gpl"
              [init]="init"
              formControlName="description"
            ></editor>
            <!--
            <div class="form-group">
              <small class="form-text text-muted my-2">Include any additional description and information about your venue like special instructions, address, requirements, etc... This information will be visible <b>only to your site's jammers</b>.</small>
              <textarea rows="20" class="form-control" formControlName="description" placeholder="Site Description"></textarea>
            </div>-->
          </div>

          <button type="submit" class="navbutton navL1 flex-center m-3">SAVE CHANGES</button>
        </form>
      </div>

      <div *ngIf="page == 'jammers'" class="container container-lg p-3">
        <h1>JAMMERS</h1>
        <p>Jammer list and tools</p>
      </div>

      <div *ngIf="page == 'games'" class="container container-lg p-3">
        <h1>SUBMISSIONS</h1>
        <p>Submission list and tools</p>
      </div>

      <div *ngIf="page == 'organizers'" class="container container-lg p-3">
        <h1>MY STAFF</h1>
        <div class="row">
          <div class="col-3 p-2 text-center" *ngFor="let member of staff">
            <div class="card p-2">
              <fa-icon [icon]="faUser" class="fa-2x"></fa-icon>
              <h3>{{ member.name }}</h3>
              <p><fa-icon [icon]="faEnvelope"></fa-icon> {{ member.email }}</p>
              <p><fa-icon [icon]="faDiscord"></fa-icon> {{ member.discordUsername ? member.discordUsername : 'None' }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- #endregion -->

      <!-- #region ORG -->
      <div *ngIf="page == 'contact'" class="container container-lg p-3">
        <h1>CONTACT INFORMATION</h1>
        <p>contact information form</p>
      </div>

      <div *ngIf="page == 'fellows'" class="container container-lg p-3">
        <h1>MY FELLOWSHIP</h1>
        <p>This section is still under construction</p>
      </div>

      <!-- #endregion -->
    </div>

    <!-- #region SIDEBAR -->
    <div id="localHomeSideBar" class="col-2">
      <div class="p-2 mb-2">
        <div class="card text-center p-2 shadow">
          <fa-icon [icon]="faCoffee" class="fa-3x"></fa-icon>
          <p>Welcome to the new and improved GJ+ platform.</p>
          <p>support&#64;gamejamplus.com</p>
        </div>
      </div>

      <div class="p-2 mb-2">
        <div class="card text-center p-2 shadow">
          <img src="/assets/Images/cidev.png" style="width: 40%; margin: auto;">
          <p>Powered by CIDeV</p>
        </div>
      </div>

      <div class="p-2 mb-2">
        <div class="card text-center p-2 shadow">
          <fa-icon [icon]="faUsers" class="fa-3x"></fa-icon>
          <p><b>Special Thanks</b></p>
          <p>Sharon Chacón<br>David Pastor<br>Jeffry Cuendiz<br>Paulo Ávila</p>
        </div>
      </div>
    </div>
    <!-- #endregion -->
  </div>
</div>


<app-messages></app-messages>
