
<div class="card-body cardBackground">
    <div class="table-responsive">
        <div class="filters">
            <select [(ngModel)]="selectedHeader">
                <option value="name">Name</option>
                <option value="email">Email</option>
                <option value="discordUsername">Discord Username</option>
                <option value="region.name">Region Name</option>
                <option value="site.name">Site Name</option>
                <option value="team.name">Team Name</option>
                <option value="rol">Role</option>
            </select>

            <input type="text" [(ngModel)]="filterValue" placeholder="Filter Value">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Export info to PDF
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Select Columns to export</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div *ngFor="let column of columnOptions">
                        <input type="checkbox" [value]="column.value" [(ngModel)]="column.checked" (change)="toggleColumn(column.value, $event)" />
                        {{ column.label }}
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" (click)="exportToPDF()">Export to PDF</button>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Discord Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Region</th>
                    <th scope="col">Site</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of obtenerDatosPagina()">
                    <td>{{ row.name }}</td>
                    <td>{{ row.discordUsername }}</td>
                    <td>{{ row.email }}</td>
                    <td>{{ row.roles }}</td>
                    <td>{{ row.region ? row.region.name : 'None' }}</td>
                    <td>{{ row.site ? row.site.name : 'None' }}</td>
                    <td>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#userModal" (click)="patchUserForm(row)">Update</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="eliminar(row)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="navBarStyle">
        <ul class="pagination">
            <!-- Botón para ir a la primera página -->
            <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="cambiarPagina(1)" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <!-- Botón para ir a la página anterior -->
            <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="cambiarPagina(currentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!-- Limitar el número de páginas mostradas -->
            <ng-container *ngFor="let page of paginasMostradas">
                <li class="page-item" *ngIf="page !== '...'">
                    <a class="page-link" (click)="cambiarPagina(page)" [class.active]="currentPage === page">{{ page
                        }}</a>
                </li>
            </ng-container>
            <!-- Botón para ir a la página siguiente -->
            <li class="page-item" [class.disabled]="currentPage === totalPaginas">
                <a class="page-link" (click)="cambiarPagina(currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <!-- Botón para ir a la última página -->
            <li class="page-item" [class.disabled]="currentPage === totalPaginas">
                <a class="page-link" (click)="cambiarPagina(totalPaginas)" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        </ul>
        <div>
          <label>Elements per page:</label>
          <input type="number" class="form-control-sm" value="{{pageSize}}" (change)="changePageSize($event)">
        </div>
        <button class="btn btn-primary" data-toggle="modal" data-target="#userModal" (click)="clearUserForm()">Add</button>
    </div>
</div>


<!-- User Modal -->
<div #userModal class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form [formGroup]="userForm" enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalLabel">Edit User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body container no-radius">
          <div class="row">
            <div class="col-sm">
              <label for="Name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter user's full name" formControlName="name">
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" placeholder="Enter user's email" formControlName="email">
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <label for="discord">Discord</label>
              <input type="text" class="form-control" id="discord" placeholder="Enter user's discord" formControlName="discordUsername">
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <label for="rol">Role</label>
              <select class="form-select" formControlName="rol">
                <option value="" disabled selected hidden>Role</option>
                <option *ngFor="let rol of roles" [value]="rol">{{ rol }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <label for="rol">Region</label>
              <select class="form-select" formControlName="region" (click)="onRegionSelection()">
                <option value="" disabled selected hidden>Region</option>
                <option *ngFor="let region of regions" [ngValue]="region">{{ region.name }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <label for="rol">Site</label>
              <select class="form-select" formControlName="site">
                <option value="" disabled selected hidden>Site</option>
                <option *ngFor="let site of sites" [ngValue]="site">{{ site.name }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="saveUser()">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Error | Success Modal -->
<div *ngIf="successMessage || errorMessage" class="toast-overlay">
  <div class="toast-container position-fixed top-50 start-50 translate-middle p-3">
    <!-- Mensaje de éxito -->
    <div *ngIf="successMessage" class="toast custom-alert alert alert-success alert-dismissible fade show" role="alert">
      <div class="toast-message">{{ successMessage }}</div>
      <button type="button" class="ok-button btn btn-primary btn-sm" data-dismiss="toast" aria-label="Close" (click)="successMessage=''">OK</button>
    </div>
    <!-- Mensaje de error -->
    <div *ngIf="errorMessage" class="toast custom-alert alert alert-danger alert-dismissible fade show" role="alert">
      <div class="toast-message">{{ errorMessage }}</div>
      <button type="button" class="ok-button btn btn-primary btn-sm" data-dismiss="toast" aria-label="Close" (click)="errorMessage=''">OK</button>
    </div>
  </div>
</div>
