<div class="w-100 p-5">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Discord Username</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Region</th>
        <th scope="col">Site</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-filter">
        <td>
          <input class="form-control" type="text" #filterName (change)="setFilter('name', filterName.value)">
        </td>
        <td>
          <input class="form-control" type="text" #filterDiscord (change)="setFilter('discord', filterDiscord.value)">
        </td>
        <td>
          <input class="form-control" type="text" #filterEmail (change)="setFilter('email', filterEmail.value)">
        </td>
        <td>
          <select class="form-select" #filterRole (change)="setFilter('role', filterRole.selectedOptions)" multiple>
            <option value="GlobalOrganizer">Global Organizer</option>
            <option value="LocalOrganizer">Local Organizer</option>
            <option value="Judge">Judge</option>
            <option value="Jammer">Jammer</option>
          </select>
        </td>
        <td>
          <select class="form-select" #filterRegion (change)="setFilter('region', filterRegion.selectedOptions)" multiple>
            <option *ngFor="let region of regions" [value]="region._id">{{ region.name }}</option>
          </select>
        </td>
        <td>
          <select class="form-select" #filterSite (change)="setFilter('site', filterSite.selectedOptions)" multiple>
            <option *ngFor="let site of sites" [value]="site._id">{{ site.name }}</option>
          </select>
        </td>
        <td>
          <button class="btn btn-primary" (click)="clearFilters(filterName, filterDiscord, filterEmail, filterRole, filterRegion, filterSite)">Clear Filters</button>
        </td>
      </tr>
      <tr *ngFor="let row of filteredUsers">
        <td>{{ row.name }}</td>
        <td>{{ row.discordUsername }}</td>
        <td>{{ row.email }}</td>
        <td>{{ row.roles }}</td>
        <td>{{ row.region ? row.region.name : 'None' }}</td>
        <td>{{ row.site ? row.site.name : 'None' }}</td>
        <td class="btn-group">
          <button class="btn btn-primary" data-toggle="modal" data-target="#userModal" (click)="patchUserForm(row)">Update</button>
          <button class="btn btn-danger" (click)="deleteUser(row)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="navBarStyle">
    <ul class="pagination">
      <!-- Botón para ir a la primera página -->
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(1)" aria-label="First">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <!-- Botón para ir a la página anterior -->
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <!-- Limitar el número de páginas mostradas -->
      <ng-container *ngFor="let page of paginasMostradas">
        <li class="page-item" *ngIf="page !== '...'">
          <a class="page-link" (click)="changePage(page)" [class.active]="currentPage === page">{{ page }}</a>
        </li>
      </ng-container>
      <!-- Botón para ir a la página siguiente -->
      <li class="page-item" [class.disabled]="currentPage === totalPaginas">
        <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <!-- Botón para ir a la última página -->
      <li class="page-item" [class.disabled]="currentPage === totalPaginas">
        <a class="page-link" (click)="changePage(totalPaginas)" aria-label="Last">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
    </ul>
      <div>
        <label>Elements per page:</label>
        <input type="number" class="form-control-sm" value="{{pageSize}}" (change)="changePageSize($event)">
      </div>
      <button class="btn btn-primary" data-toggle="modal" data-target="#userModal" (click)="clearUserForm()">Add</button>
  </div>
</div>


<!-- User Modal -->
<div #userModal class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form (submit)="saveUser()" [formGroup]="userForm" enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalLabel">Edit User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body container no-radius">
          <div class="row">
            <div class="col-sm">
              <label for="Name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter user's full name" formControlName="name">
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" placeholder="Enter user's email" formControlName="email">
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <label for="discord">Discord</label>
              <input type="text" class="form-control" id="discord" placeholder="Enter user's discord" formControlName="discordUsername">
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <label for="roles">Role</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Global Organizer" id="flexCheckDefault" formControlName="roleGlobal">
                <label class="form-check-label" for="flexCheckDefault">Global Organizer</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Local Organizer" id="flexCheckDefault" formControlName="roleLocal">
                <label class="form-check-label" for="flexCheckDefault">Local Organizer</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Judge" id="flexCheckDefault" formControlName="roleJudge">
                <label class="form-check-label" for="flexCheckDefault">Judge</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Jammer" id="flexCheckDefault" formControlName="roleJammer">
                <label class="form-check-label" for="flexCheckDefault">Jammer</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <label for="rol">Region</label>
              <select class="form-select" formControlName="region" (change)="onRegionSelection()">
                <option value="" disabled selected hidden>Region</option>
                <option [ngValue]="null">None</option>
                <option *ngFor="let region of regions" [ngValue]="region">{{ region.name }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <label for="rol">Site</label>
              <select class="form-select" formControlName="site">
                <option value="" disabled selected hidden>Site</option>
                <option [ngValue]="null">None</option>
                <option *ngFor="let site of filteredSites" [ngValue]="site">{{ site.name }}</option>
              </select>
            </div>
          </div>
        </div>

        <div *ngIf="errorMessage" class="p-3 m-2 error">
          {{ errorMessage }}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeUserModal (click)="clearUserForm()">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>

<app-messages></app-messages>
