<div class="card-body cardBackground">
    <div class="filters">
        <select [(ngModel)]="selectedHeader">
            <option value="titleSP">Title (Spanish)</option>
            <option value="titlePT">Title (Portuguese)</option>
            <option value="titleEN">Title (English)</option>
            <option value="descriptionSP">Description (Spanish)</option>
            <option value="descriptionPT">Description (Portuguese)</option>
            <option value="descriptionEN">Description (English)</option>
            <option value="manualSP">Manual (Spanish)</option>
            <option value="manualPT">Manual (Portuguese)</option>
            <option value="manualEN">Manual (English)</option>
        </select>
    
        <input type="text" [(ngModel)]="filterValue" placeholder="Filter Value">
          
    
        
    </div>        
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title (SP)</th>
                <th scope="col">Description (SP)</th>
                <th scope="col">Manual (SP)</th>
                <th scope="col">Title (EN)</th>
                <th scope="col">Description (EN)</th>
                <th scope="col">Manual (EN)</th>
                <th scope="col">Title (PT)</th>
                <th scope="col">Description (PT)</th>
                <th scope="col">Manual (PT)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of obtenerDatosPagina()">
              <td>{{ row.titleSP }}</td>
              <td>{{ row.descriptionSP }}</td>
              <td class="pdf"><a (click)="getPdf(row._id!, 'SP')" >Load PDF</a></td>
              <td>{{ row.titleEN }}</td>
              <td>{{ row.descriptionEN }}</td>
              <td class="pdf"><a (click)="getPdf(row._id!, 'EN')">Load PDF</a></td>
              <td>{{ row.titlePT }}</td>
              <td>{{ row.descriptionPT }}</td>
              <td class="pdf"><a (click)="getPdf(row._id!, 'PT')" >Load PDF</a></td>
            </tr>
          </tbody>
    </table>
    <div class="navBarStyle">
        <ul class="pagination">
            <!-- Botón para ir a la primera página -->
            <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="cambiarPagina(1)" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <!-- Botón para ir a la página anterior -->
            <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="cambiarPagina(currentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!-- Limitar el número de páginas mostradas -->
            <ng-container *ngFor="let page of paginasMostradas">
                <li class="page-item" *ngIf="page !== '...'">
                    <a class="page-link" (click)="cambiarPagina(page)" [class.active]="currentPage === page">{{ page }}</a>
                </li>
            </ng-container>
            <!-- Botón para ir a la página siguiente -->
            <li class="page-item" [class.disabled]="currentPage === totalPaginas">
                <a class="page-link" (click)="cambiarPagina(currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <!-- Botón para ir a la última página -->
            <li class="page-item" [class.disabled]="currentPage === totalPaginas">
                <a class="page-link" (click)="cambiarPagina(totalPaginas)" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
