<div class="card-body cardBackground">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Themes</th>
        <th scope="col">Status</th>
        <th scope="col">Stats</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of obtenerDatosPagina()">
        <td>{{ row.title }}</td>
        <td>
          <ul>
            <li *ngFor="let theme of row.themes">
              <a theme>{{ theme?.titlePT }}</a>
            </li>
          </ul>
        </td>
        <td>{{ row.open ? 'Open' : 'Closed' }}</td>
        <td>
          <ul>
            <li>Sites: {{ row.sites?.length }}</li>
            <li>Jammers: {{ row.jammers?.length }}</li>
            <li>Submissions: TBD</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="navBarStyle">
    <ul class="pagination">
      <!-- Botón para ir a la primera página -->
      <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="cambiarPagina(1)" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
          </a>
      </li>
      <!-- Botón para ir a la página anterior -->
      <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="cambiarPagina(currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
          </a>
      </li>
      <!-- Limitar el número de páginas mostradas -->
      <ng-container *ngFor="let page of paginasMostradas">
        <li class="page-item" *ngIf="page !== '...'">
          <a class="page-link" (click)="cambiarPagina(page)" [class.active]="currentPage === page">{{ page }}</a>
        </li>
      </ng-container>
      <!-- Botón para ir a la página siguiente -->
      <li class="page-item" [class.disabled]="currentPage === totalPaginas">
        <a class="page-link" (click)="cambiarPagina(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <!-- Botón para ir a la última página -->
      <li class="page-item" [class.disabled]="currentPage === totalPaginas">
        <a class="page-link" (click)="cambiarPagina(totalPaginas)" aria-label="Last">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
    </ul>
      <div>
        <label>Elements per page:</label>
        <input type="number" class="form-control-sm" value="{{pageSize}}" (change)="changePageSize($event)">
      </div>
      <!-- Don't add new jams from this page, only from the GameJam page -->
      <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#createModal">Add</button> -->
  </div>
</div>

