<div *ngIf="!activeJam" class="container containerLarge containerPlaceholder">
  <p>No active game jam found.</p>
  <button class="btn btn-primary" (click)="createJam()">Create New Jam</button>
</div>

<div *ngIf="activeJam && page == 'jam-main'" class="w-100 p-5">
  <h1 class="text-center">Active GameJam Information</h1>

  <form (ngSubmit)="updateJam()" [formGroup]="jamForm" enctype="multipart/form-data">
    <div class="row">

      <!-- Left Side -->
      <div class="col" id="jamLeftSide">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Enter title" formControlName="title">
        </div>
        <div class="form-group">
          <label for="toolboxGuides">Toolbox Guides URL</label>
          <input type="text" class="form-control" id="toolboxGuides" placeholder="Enter the URL for this edition's toolbox guides folder" formControlName="toolboxGuides">
        </div>

        <div class="form-group">
          <label for="toolboxArts">Toolbox Arts URL</label>
          <input type="text" class="form-control" id="toolboxArts" placeholder="Enter the URL for this edition's toolbox arts folder" formControlName="toolboxArts">
        </div>

        <div class="form-group">
          <label for="toolboxPresentations">Toolbox Presentations URL</label>
          <input type="text" class="form-control" id="toolboxPresentations" placeholder="Enter the URL for this edition's toolbox presentations folder" formControlName="toolboxPresentations">
        </div>

        <div>
          Stages
          <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#stageModal" (click)="patchThemeForm(-1)">Add new stage</button>
        </div>
        <div class="table table-striped table-sm">
          <table class="table">
            <thead class="text-sm">
              <tr>
                <th scope="col" class="th-40">Stage Name</th>
                <th scope="col" class="th-20">Dates</th>
                <th scope="col" class="th-20">Roles</th>
                <th scope="col" class="th-20">Actions</th>
              </tr>
            </thead>
            <tbody class="text-xs">
              <tr *ngFor="let row of activeJam.stages; index as i">
                <td>{{ row.stageName }}</td>
                <td>{{ formatDate(row.startDate) }}<br>{{ formatDate(row.endDate) }}</td>
                <td> <span *ngFor="let role of row.roles">{{ role.roleName }}<br></span></td>
                <td class="btn-group">
                  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#stageModal" (click)="patchStageForm(i)">Update</button>
                  <button type="button" class="btn btn-danger btn-sm" (click)="deleteStage(i)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          Themes
          <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#themeModal" (click)="patchThemeForm(-1)">Add new theme</button>
        </div>
        <div class="table table-striped table-sm">
          <table class="table">
            <thead class="text-sm">
              <tr>
                <th scope="col" class="th-40">Title</th>
                <th scope="col" class="th-20">Desc.(PT)</th>
                <th scope="col" class="th-20">Manual</th>
                <th scope="col" class="th-20">Actions</th>
              </tr>
            </thead>
            <tbody class="text-xs">
              <tr *ngFor="let row of activeJam.themes; index as i">
                <td>PT: {{ row.titlePT }}<br>ES: {{ row.titleES }}<br>EN: {{ row.titleEN }}</td>
                <td><p class="maxh-05 scroll">{{ row.descriptionPT }}</p></td>
                <td>
                  <a href="{{ row.manualPT }}">Manual PT</a><br>
                  <a href="{{ row.manualES }}">Manual ES</a><br>
                  <a href="{{ row.manualEN }}">Manual EN</a>
                </td>
                <td class="btn-group">
                  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#themeModal" (click)="patchThemeForm(i)">Update</button>
                  <button type="button" class="btn btn-danger btn-sm" (click)="deleteTheme(i)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          Categories
          <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#categoryModal" (click)="patchCategoryForm(-1)">Add new category</button>
        </div>
        <div class="table table-striped table-sm">
          <table class="table">
            <thead class="text-sm">
              <tr>
                <th scope="col" class="th-40">Title</th>
                <th scope="col" class="th-20">Desc.(PT)</th>
                <th scope="col" class="th-20">Manual</th>
                <th scope="col" class="th-20">Actions</th>
              </tr>
            </thead>
            <tbody class="text-xs">
              <tr *ngFor="let row of activeJam.categories; index as i">
                <td>PT: {{ row.titlePT }}<br>ES: {{ row.titleES }}<br>EN: {{ row.titleEN }}</td>
                <td><p class="maxh-05 scroll">{{ row.descriptionPT }}</p></td>
                <td>
                  <a href="{{ row.manualPT }}">Manual PT</a><br>
                  <a href="{{ row.manualES }}">Manual ES</a><br>
                  <a href="{{ row.manualEN }}">Manual EN</a>
                </td>
                <td class="btn-group">
                  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#categoryModal" (click)="patchCategoryForm(i)">Update</button>
                  <button type="button" class="btn btn-danger btn-sm" (click)="deleteCategory(i)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <!-- Right Side -->
      <div class="col" id="jamRightSide">
        <div>
          Participants
        </div>
        <div class="info p-2">
          Venues: {{ jamData.siteCount }}<br>
          Countries: {{ jamData.countryCount }}<br>
          Jammers: {{ jamData.jammerCount }}<br>
          Teams: {{ jamData.teamCount }}<br>
          Submissions: {{ jamData.submissionCount }}<br>
        </div>

        <hr>

        <div class="form-group">
          <label for="jamOpen">
            Jam Status: {{ (activeJam.open) ? 'Open' : 'Closed'}}
          </label>
          <div class="btn-group btn-group-toggle form-row d-block" data-toggle="buttons">
            <label [ngClass]="{'btn btn-secondary col-sm-6':true, 'active':activeJam.open}" (click)="setOpenValue(true)">
              <input type="radio" name="open" id="jamOpen" (checked)="activeJam.open" (click)="setOpenValue(true)"> Open
            </label>
            <label [ngClass]="{'btn btn-secondary col-sm-6':true, 'active':!activeJam.open}" (click)="setOpenValue(false)">
              <input type="radio" name="open" id="jamClosed" (checked)="!activeJam.open" (click)="setOpenValue(false)"> Closed
            </label>
          </div>
        </div>

        <small class="form-text text-muted">
          If the Jam is Open it will be visible for Local Organizers and Jammers.<br>
          The Jam must be Open for venues to register.<br>
        </small>
        <small class="warning form-text p-2">
          WARNING: <br>
          Closing the Jam will sever its references with Venues and Jammers<br>
          Only close the jam after the event is finished<br>
          Proceed with caution
        </small>

        <hr>

        <div class="form-group">
          <label for="jamPublic">
            Jam Visibility: {{ (activeJam.public) ? 'Public' : 'Secret'}}
          </label>
          <div class="btn-group btn-group-toggle form-row d-block" data-toggle="buttons">
            <label [ngClass]="{'btn btn-secondary col-sm-6':true, 'active':activeJam.public}" (click)="setPublicValue(true)">
              <input type="radio" name="public" id="jamPublic" (checked)="activeJam.public" (click)="setPublicValue(true)"> Public
            </label>
            <label [ngClass]="{'btn btn-secondary col-sm-6':true, 'active':!activeJam.public}" (click)="setPublicValue(false)">
              <input type="radio" name="public" id="jamSecret" (checked)="!activeJam.public" (click)="setPublicValue(false)"> Secret
            </label>
          </div>
        </div>

        <small class="form-text text-muted">
          Themes and Categories will remain hidden from Local Organizers and Jammers while the Jam is Secret.
          Mark the Jam as Public to reveal this information to Local Organizers and Jammers.
        </small>

      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-lg p-2 mt-4">Update Jam</button>
  </form>
</div>

<div *ngIf="activeJam && page == 'jam-sites'" class="w-100 p-5">
  <h1>Active Sites: {{ jamData.siteCount }}</h1>
  <h2>Countries: {{ jamData.countryCount }}</h2>
  <h2>Jammers: {{ jamData.jammerCount }}</h2>
  <h2>Teams: {{ jamData.teamCount }}</h2>

  <div class="row">
    <div *ngFor="let site of activeSites pointer" class="col-3 p-2" (click)="selectSite(site)" data-toggle="modal" data-target="#siteInfoModal">
      <div class="bg-white shadow p-4 rounded">
        <h3>{{ site.name }}</h3>
        <b>Region: </b>{{ site.regionName }} <br>
        <b>Country: </b>{{ site.country.name }} <br>
        <b>City: </b>{{ site.city }} <br>
        <b>Modality: </b>{{ site.modality }} <br>
        <b>Status: </b>{{ site.open ? "Open" : "Closed" }}<br>
        <b>Jammers: </b>{{ site.jammers }} <br>
        <b>Teams: </b>{{ site.teams }} <br>
        <b>Organizers: </b> <br>
        <ul>
          <li *ngFor="let org of site.organizers">
            <small>{{ org.name }} (<a [href]="'mailto:'+org.email">{{ org.email }}</a>)<br></small>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <h2>Inactive Sites: {{ inactiveSites.length }}</h2>

  <div class="row">
    <div *ngFor="let site of inactiveSites" class="col-3 p-2">
      <div class="shadow p-4 rounded inverted">
        <h3>{{ site.name }}</h3>
        <b>Region: </b>{{ site.regionName }} <br>
        <b>Country: </b>{{ site.country.name }} <br>
        <b>City: </b>{{ site.city }} <br>
        <b>Organizers: </b> <br>
        <ul>
          <li *ngFor="let org of site.organizers">
            <small>{{ org.name }} (<a [href]="'mailto:'+org.email">{{ org.email }}</a>)<br></small>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<div *ngIf="activeJam && page == 'jam-jammers'" class="w-100 p-5">
  <h1 class="text-center">Active Jammers</h1>
</div>

<div *ngIf="activeJam && page == 'jam-submissions'" class="w-100 p-5">
  <h1 class="text-center">Submissions</h1>
  <button class="btn btn-black btn-block" (click)="getSubmissions()">LOAD SUBMISSIONS</button>
  <div class="row m-2">
    <div *ngFor="let s of submissions" class="p-2 col-4">
      <div class="rounded shadow bg-light text-center p-4">
        <h2>{{ s.title }}</h2>
        by<br>
        <b>{{ s.teamName }}</b><br>
        <a [href]="s.link" target="_blank">{{ s.link }}</a><br>
        <a [href]="s.pitch" target="_blank" *ngIf="s.pitch">{{ s.pitch }}</a><br>
        Going to Incubation? <span *ngIf="s.incubation">YES</span> <span *ngIf="!s.incubation">NO</span>
        <hr>
        <b>Venue:</b> {{s.site}}<br>
        <b>Country:</b> {{s.country}}<br>
        <b>Region:</b> {{s.region}}
      </div>
    </div>
  </div>
</div>

<div *ngIf="activeJam && page == 'jam-evaluations'" class="w-100 p-5">
  <h1 class="text-center">Evaluations</h1>
</div>

<!-- MODALS -->

<!-- Theme Modal -->
<div #themeModal class="modal fade" id="themeModal" tabindex="-1" role="dialog" aria-labelledby="themeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <form [formGroup]="themeForm" enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="themeModalLabel">Edit Theme</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body container no-radius">
            <div class="row">
              <div class="col-sm" *ngFor="let language of ['PT', 'ES', 'EN']">
                <label for="title{{language}}">Title ({{language}})</label>
                <input type="text" class="form-control" id="title{{language}}" placeholder="Enter title" formControlName="title{{language}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm" *ngFor="let language of ['PT', 'ES', 'EN']">
                <label for="description{{language}}">Description ({{language}})</label>
                <textarea class="form-control" rows="5" id="description{{language}}" placeholder="Enter description" formControlName="description{{language}}"></textarea>
              </div>
            </div>
          <div class="row">
            <div class="col-sm" *ngFor="let language of ['PT', 'ES', 'EN']">
              <label for="manual{{language}}">Manual ({{language}})</label>
              <input type="text" class="form-control" id="manual{{language}}" placeholder="Manual public URL" formControlName="manual{{language}}">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="saveTheme()">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Category Modal -->
<div #categoryModal class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <form [formGroup]="categoryForm" enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="categoryModalLabel">Edit Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body container no-radius">
            <div class="row">
              <div class="col-sm" *ngFor="let language of ['PT', 'ES', 'EN']">
                <label for="title{{language}}">Title ({{language}})</label>
                <input type="text" class="form-control" id="title{{language}}" placeholder="Enter title" formControlName="title{{language}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm" *ngFor="let language of ['PT', 'ES', 'EN']">
                <label for="description{{language}}">Description ({{language}})</label>
                <textarea class="form-control" rows="5" id="description{{language}}" placeholder="Enter description" formControlName="description{{language}}"></textarea>
              </div>
            </div>
          <div class="row">
            <div class="col-sm" *ngFor="let language of ['PT', 'ES', 'EN']">
              <label for="manual{{language}}">Manual ({{language}})</label>
              <input type="text" class="form-control" id="manual{{language}}" placeholder="Manual public URL" formControlName="manual{{language}}">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="saveCategory()">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Stage Modal -->
<div #stageModal class="modal fade" id="stageModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form [formGroup]="stageForm" enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="stageModalLabel">Edit Stage</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body container no-radius">

          <div class="form-group">
            <label for="stageName">Stage Name</label>
            <input type="text" class="form-control" id="stageName" placeholder="Enter Stage Name" formControlName="stageName">
          </div>

          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" id="startDate" formControlName="startDate">
          </div>

          <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" class="form-control" id="endDate" formControlName="endDate">
          </div>

          <div class="form-title">Does this stage have a delivery for any of these roles?</div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="globalRoleCheck" formControlName="roleGlobal">
            <label class="form-check-label" for="globalRoleCheck">Global Organizer</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="localRoleCheck" formControlName="roleLocal">
            <label class="form-check-label" for="localRoleCheck">Local Organizer</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="judgeRoleCheck" formControlName="roleJudge">
            <label class="form-check-label" for="judgeRoleCheck">Judge</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="jammerRoleCheck" formControlName="roleJammer">
            <label class="form-check-label" for="jammerRoleCheck">Jammer</label>
          </div>

          <div *ngIf="errorMessage" class="error p-3 my-2">
            {{ errorMessage }}
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeStageModal>Close</button>
          <button type="submit" class="btn btn-primary" (click)="saveStage()">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Site Info Modal -->
<div #siteInfoModal class="modal fade" id="siteInfoModal" tabIndex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-xl p-4" role="document">

    <div class="rounded bg-light shadow row m-3 p-2" *ngIf="selectedSite">
      <h1 class="col-12 text-center">{{ selectedSite.name }}</h1>
      <hr>
      <div class="col-4 p-2">
        <b>Region: </b>{{ selectedSite.regionName }} <br>
        <b>Country: </b>{{ selectedSite.country.name }} <br>
        <b>City: </b>{{ selectedSite.city }} <br>
        <b>Modality: </b>{{ selectedSite.modality }} <br>
        <b>Status: </b>{{ selectedSite.open ? "Open" : "Closed" }}<br>
        <b>Jammers: </b>{{ selectedSite.jammers }} <br>
        <b>Teams: </b>{{ selectedSite.teams }} <br>
        <b>Organizers: </b> <br>
        <ul>
          <li *ngFor="let org of selectedSite.organizers">
            <small>{{ org.name }} (<a [href]="'mailto:'+org.email">{{ org.email }}</a>)<br></small>
          </li>
        </ul>
      </div>
      <div class="info col-8 p-2 my-2">
        <p [innerHTML]="selectedSite.description"></p>
      </div>

      <hr class="my-2">

      <div class="col-12 p-3" *ngIf="selectedJammers">
        <table class="table table-stripped rounded">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Discord</th>
              <th scope="col">Team</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let jammer of selectedJammers; index as j" [ngClass]="getJammerRowColor(jammer)">
              <th scope="row">{{ j + 1 }}</th>
              <td>{{ jammer.name }}</td>
              <td><a [href]="'mailto:'+jammer.email">{{ jammer.email }}</a></td>
              <td>{{ jammer.discordUsername }}</td>
              <td>{{ jammer.team ? jammer.team.name : 'NO TEAM' }}</td>
            </tr>
          </tbody>
        </table>
      </div>


      <button class="btn btn-black btn-block col-12" (click)="clearSite()" data-dismiss="modal">CLOSE</button>
    </div>

  </div>
</div>

<app-messages></app-messages>
