<div class="row w-100 h-100 p-3">

  <!-- #region NAV BAR -->
  <div id="localHomeNavBar" class="col-2 container-fluid">
    <div class="navbutton navL1" data-toggle="collapse" data-target="#homeMenu">Home</div>
    <ul #homeMenu id="homeMenu" class="collapse">
      <li class="navbutton navL2" (click)="page = 'jam-main'">Active Jam</li>
      <li class="navbutton navL2" (click)="page = 'jam-sites'">Sites</li>
      <li class="navbutton navL2" (click)="page = 'jam-jammers'">Jammers</li>
      <li class="navbutton navL2" (click)="page = 'jam-submissions'">Submissions</li>
      <li class="navbutton navL2" (click)="page = 'jam-evaluations'">Evaluations</li>
    </ul>

    <div class="navbutton navL1" data-toggle="collapse" data-target="#venueMenu">Data Management</div>
    <ul #venueMenu id="venueMenu" class="collapse">
      <li class="navbutton navL2" (click)="page = 'data-jams'">Jams</li>
      <li class="navbutton navL2" (click)="page = 'data-regions'">Regions</li>
      <li class="navbutton navL2" (click)="page = 'data-sites'">Sites</li>
      <li class="navbutton navL2" (click)="page = 'data-users'">Users</li>
      <li class="navbutton navL2" (click)="page = 'data-teams'">Teams</li>
    </ul>
  </div>
  <!-- #endregion -->

  <div class="container card col-10 shadow background-gray">
    <app-global-jam *ngIf="page.includes('jam-')" [page]="page"></app-global-jam>
    <app-gamejam-crud *ngIf="page == 'data-jams'"></app-gamejam-crud>
    <app-region-crud *ngIf="page == 'data-regions'"></app-region-crud>
    <app-site-crud *ngIf="page == 'data-sites'"></app-site-crud>
    <app-user-crud *ngIf="page == 'data-users'"></app-user-crud>
    <app-team-crud *ngIf="page == 'data-teams'"></app-team-crud>
  </div>
</div>


