<div class="w-100 p-5">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Sites</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of getRows()">
        <td>{{ row.name }}</td>
        <td>{{ countSitesPerRegion(row._id) }}</td>
        <td>
          <button class="btn btn-primary" data-toggle="modal" data-target="#regionModal" (click)="selectRegion(row)">Update</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteRegion(row)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="navBarStyle">
    <ul class="pagination">
      <!-- Botón para ir a la primera página -->
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(1)" aria-label="First">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <!-- Botón para ir a la página anterior -->
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <!-- Limitar el número de páginas mostradas -->
      <ng-container *ngFor="let page of paginasMostradas">
        <li class="page-item" *ngIf="page !== '...'">
          <a class="page-link" (click)="changePage(page)" [class.active]="currentPage === page">{{ page }}</a>
        </li>
      </ng-container>
      <!-- Botón para ir a la página siguiente -->
      <li class="page-item" [class.disabled]="currentPage === totalPaginas">
        <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <!-- Botón para ir a la última página -->
      <li class="page-item" [class.disabled]="currentPage === totalPaginas">
        <a class="page-link" (click)="changePage(totalPaginas)" aria-label="Last">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
    </ul>
    <div>
      <label>Elements per page:</label>
      <input type="number" class="form-control-sm" value="{{pageSize}}" (change)="changePageSize($event)">
    </div>
    <button class="btn btn-primary" data-toggle="modal" data-target="#regionModal">Add</button>
  </div>
</div>

<!-- MODALS -->
<div #regionModal id="regionModal" tabindex="-1" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <form (submit)="saveRegion()" [formGroup]="regionForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">Edit Region</h5>
        </div>
        <div class="modal-body container no-radius">
          <div class="row centerRow">
            <div class="formTitle">Region</div>

            <div class="row centerRow">
              <div class="form-group formInput">
                <input #regionInput class="form-control" id="regionInput" required placeholder="Ex. LATAM" formControlName="region">
              </div>
            </div>

          </div>
          <div *ngIf="modalError" class="row centerRow error">
            {{ modalError }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearForm()" #closeRegionModal>Close</button>
          <button type="submit" class="btn btn-primary">Save Region</button>
        </div>
      </div>
    </form>
  </div>
</div>

<app-messages></app-messages>
