@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html, body
{
  height: 100%;
}

body
{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, h2, h3
{
  font-family: 'Changa One', sans-serif;
}

h4, h5, h6
{
  font-family: 'Changa', sans-serif;
}

.backgroundGradient
{
  background-color: #E9E9E9;
  height: 100vh;
  overflow: scroll;
}

.backgroundGradient .FullColor
{
    background: linear-gradient(108deg, #3763FF 0%, #D052A5 25%, #FF3131 50%, #D052A5 75%, #3763FF 100%);
}

.headerGradient {
  background: linear-gradient(108deg, #FEDE6E 0%, #FA7800 33%, #FF3131 50%, #D052A5 75%, #3763FF 100%);
}

.container{
  border-radius: 25px;
  background-color: #00000011;
}

.card.inverted{
  background-color: #222222;
  color: white;
}

.shadow{
  box-shadow: 10px 10px gray;
}

.block{
  border-radius: 25px;
  background-color: #00000011;
  padding: 10px;
  margin: 5px;
}

.th-60
{
  width: 60%;
}

.th-40
{
  width: 40%;
}

.th-20
{
  width: 20%;
  font-size: smaller;
}

.text-sm
{
  font-size: small;
}

.text-xs
{
  font-size: x-small;
}

.no-radius
{
  border-radius: 0px;
}

.containerMid{
  width: 80%;
  margin: auto;
  padding: 30px;
}

.containerLarge{
  width: 90%;
  margin: auto;
  padding: 30px;
}

.containerPlaceholder{
  border-style: dashed;
  border-color: #999999;
  background-color: #77777722;
  text-align: center;
}

.warning{
  border-style: dashed;
  border-radius: 10px;
  border-color: #FFAA0055;
  background-color: #FFDD0022;
}

.error{
  border-style: dashed;
  border-radius: 10px;
  border-color: #FF000055;
  background-color: #FF000022;
}

.success{
  border-style: dashed;
  border-radius: 10px;
  border-color: #00FF0055;
  background-color: #00FF0022;
}

.info{
  border-style: dashed;
  border-radius: 10px;
  border-color: #DDDDDD;
  background-color: #FFFFFF;
}

.timer{
  font-size: 3em;
  font-family: "Space Mono", monospace;
}

.pointer:hover{
  cursor: pointer;
}

.flex-center{
  align-items: center;
  justify-content: center;
}

.navbutton{
  display: flex;
  flex: 1;
  color: white;
  margin: 1px;
  border: solid black 1px;
}

.navbutton:hover{
  background-color: #101010;
  cursor: pointer;
}

.navL1{
  background-color: #252525;
  padding: 1em;
}

.navL2{
  background-color: #454545;
  padding: 0.6em;
}

.btn-black{
  background-color: #222222 !important;
  color: white !important;
  border-radius: 0 !important;
  padding: 12px !important;
}

.required:after{
  content: "*";
  color: red;
}

.input-group>.input-group-prepend {
  flex: 0 0 30%;
}

.input-group-text{
  background-color: #00000022 !important;
  width: 100%;
}

.tooltip-trigger{
  padding-left: 5px;
  font-size: 0.8em;
  color: red;
  vertical-align: top;
  font-weight: bold;
}

.maxh-05{
  max-height: 50px;
}

.maxh-1{
  max-height: 100px;
}

.maxh-2{
  max-height: 200px;
}

.minh-1{
  height: 100%;
  min-height: 150px;
}

.minh-2{
  height: 100%;
  min-height: 230px;
}

.minh-3{
  height: 100%;
  min-height: 330px;
}

.minh-4{
  height: 100%;
  min-height: 430px;
}

.crop{
  overflow: hidden;
}

.scroll{
  overflow: scroll;
}
