<section class="backgroundGradient">
  <div class="container-fluid mainWindow">
    <div *ngIf="user" class="row headerGradient">
      <div class = "col-lg GJrol">{{user.name}} ({{activeRole}})</div>

      <!-- ROLE SWITCHER -->
      <div *ngIf="user.roles.length > 1" class="col-4 btn-group btn-group-toggle" data-toggle="buttons">
        <label *ngFor="let role of user.roles" [ngClass]="{'btn btn-secondary' : true, 'active': role === activeRole}" (click)="changeActiveRole(role)">
          <input type="radio" name="roles" [value]="role">{{role}}
        </label>
      </div>

      <!-- USER BUTTON -->
      <div class = "col-1 dashButton">
        <fa-icon [icon]="faCircleUser" class="pointer fa-2xl" data-toggle="modal" data-target="#accountModal" (click)="patchUserForm()"></fa-icon>
      </div>
    </div>

    <div class="row mainContainer">

      <app-global-home *ngIf="activeRole === 'GlobalOrganizer'"></app-global-home>
      <app-local-home *ngIf="activeRole === 'LocalOrganizer'" [user]="user"></app-local-home>
      <app-jammer-home *ngIf="activeRole === 'Jammer'" [user]="user"></app-jammer-home>
      <app-juez-main *ngIf="activeRole === 'Judge'"></app-juez-main>

    </div>
  </div>
</section>


<!-- MODALS -->
<div #accountModal *ngIf="user" class="modal fade" id="accountModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form (submit)="updateUser()" [formGroup]="userForm" enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalLabel">User Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body container no-radius">
          <div class="row">
            <div class="col-sm">
              <label for="Name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter user's full name" formControlName="name">
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <label for="email">Email</label>
              <div class="form-control" readonly> {{user.email}} </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <label for="discord">Discord</label>
              <input type="text" class="form-control" id="discord" placeholder="Enter user's discord" formControlName="discordUsername">
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <label for="site">Site Information</label>
              <div class="form-control" readonly>{{ getUserRegionName() }} - {{ getUserSiteName() }}</div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <label for="discord">Roles:</label>
              <div class="form-control" readonly>
                <div *ngFor="let role of user!.roles">
                  {{role}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="errorMessage" class="p-3 m-2 error">
          {{ errorMessage }}
        </div>

        <div *ngIf="successMessage" class="p-3 m-2 success">
          {{ successMessage }}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal" (click)="logOut()">Log Out</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearUserForm()" #closeUserModal>Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>
