.backgroundGradient {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-attachment: fixed;
}

.mainWindow {
    display: flex;
    flex-direction: column;
    /*padding-left: 15%;
    padding-right: 15%;*/
    overflow-y: auto;
}

.headerGradient {
  padding: 0.75%;
  height: fit-content;
}

img{
  max-height: 30px;
  max-width: 30px;
  width: auto;
  margin: auto;
}

.GJrol {
    color: white;
    font-size: 1.3em;
    font-weight: 400;
    word-wrap: break-word;
    height: 100%;
}

.dashButton {
    display: flex;
    width: fit-content;
    align-self: flex-end;
    align-items: flex-end;
}

.logOutButton {
    align-self: center;
    max-width: fit-content;
}

.mainContainer {
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    background: #f9f9f9;
    padding-top: 1rem;
}



