<section class="vh-100 backgroundGradient">
  <div class="container">
    <div class="row">
      <div class="col">
        <div *ngIf="errorMessage" id="errorMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ errorMessage }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage=''">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="Card">
          <div *ngIf="showModal" class="modal-bg">
            <div class="modal-content">
              <h2>Registration Successful!</h2>
              <p>Your registration was successful. Please log in with your email.</p>
              <button id="OKboomer" type="button" (click)="redirectToLogin()" class="btn btn-default">OK</button>
            </div>
          </div>
          <div class="Card-body">
            <form (submit)="submitForm()" [formGroup]="myForm">
              <div class="row">
                <div class="title">Register</div>
                <div class="inputTitle">Email</div>

                <div class="row">
                  <div class="form-group inputSpace">
                    <input #emailInput type="email" class="form-control" id="emailInput" required placeholder="Email"
                      formControlName="email">
                  </div>
                </div>

                <div class="inputTitle">Full Name</div>

                <div class="row">
                  <div class="form-group inputSpace">
                    <input #nameInput class="form-control" id="nameInput" required placeholder="Full Name"
                      formControlName="name">
                  </div>
                </div>

                <div class="inputTitle">Discord Username</div>

                <div class="row">
                  <div class="form-group inputSpace">
                    <input #discordUsernameInput class="form-control" id="discordUsernameInput" required
                      placeholder="Discord Username" formControlName="discordUsername">
                  </div>
                </div>

                <div class="title">Choose your Site</div>
                <div class="inputTitle">Region</div>

                <div class="row">
                  <select class="form-control selectorStyle" id="regions" required formControlName="region"
                    (change)="onRegionSelection()">
                    <option value="" disabled selected hidden>Your region</option>
                    <option *ngFor="let region of regions" [ngValue]="region">{{ region.name }}</option>
                  </select>
                </div>

                <div class="inputTitle">Site</div>

                <div class="row">
                  <select class="form-control selectorStyle" id="sites" required formControlName="site">
                    <option value="" disabled selected hidden>Your site</option>
                    <option *ngFor="let site of sites" [ngValue]="site">{{ site.name }}</option>
                  </select>
                </div>

                <div class="row">
                  <div class="registerBTN">
                    <button type="submit" class="btn btn-default registerFont">
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>